<footer class='mt-100'>
    <div class='container-fluid px-xl-5'>
        <div class='row'>
            <div class='col-6 col-xl-2'>
                <ul>
                    <li><a href='solutions'>SOLUTIONS</a></li>
                    <li><a href='about-us'>ABOUT US</a></li>
                    <li><a href='https://audienceserv.bamboohr.com/careers/' target='_blank'>JOIN US</a></li>
                    <li><a href=''>BLOG</a></li>
                    <li><a href=''>PRESS</a></li>
                    <li><a href='case-study'>CASE STUDIES</a></li>
                    <li><a href='why-email-marketing'>WHY EMAIL MARKETING?</a></li>
                </ul>
            </div>
            <div class='col-6 col-xl-2'>
                <ul>
                    <li><a href='contact'>CONTACT US</a></li>
                    <li><a href=''>SITEMAP</a></li>
                    <li><a href=''>STAY INFORMED</a></li>
                </ul>
            </div>
            <div class='col-xl-2'></div>
            <div class='col-xl-6'>
                <div class='row'>
                    <div class='col-xl-12'>
                        <ul class='d-flex align-items-center gap-3'>
                            <li><a href=''><i class="bi bi-facebook fs-3"></i></a></li>
                            <li><a href=''><i class="bi bi-instagram fs-3"></i></a></li>
                            <li><a href=''><i class="bi bi-linkedin fs-3"></i></a></li>
                            <li><a href=''><i class="bi bi-youtube fs-3"></i></a></li>
                        </ul>
                    </div>
                    <div class='col-xl-6'>
                        <p class='fs-7'>
                            Knesebeckstraße 59-61, 10719 Berlin,
                            <br>
                            Germany
                        </p>
                        <p class='fs-7'>
                            Rupert-Mayer-Str. 44, D-81379 Munich,
                            <br>
                            Germany
                        </p>
                    </div>
                    <div class='col-xl-6'>
                        <p class='fs-7'>
                            info@audienceserv.com
                            <br>
                            +49 30 467 2401-10
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class='row align-items-center'>
            <div class='col-xl-4'>
                <a href='' class='d-flex align-items-center gap-2 text-black text-decoration-none fs-7 py-3'>
                    <i class="bi bi-arrow-up-right-circle-fill fs-3"></i> SOLUTIONS PRESENTATION
                </a>
            </div>
            <div class='col-xl-4 order-xl-3'>
                <div class='fs-7 text-end d-flex align-items-center justify-content-center justify-content-xl-end gap-4 py-3'>
                    <a class='text-black text-decoration-none' href='imprint'>Imprint</a>
                    <a class='text-black text-decoration-none' href='privacy-policy'>Privacy Policy</a>
                    <a class='text-black text-decoration-none' href='terms-conditions'>Terms and conditions</a>
                </div>
            </div>
            <div class='col-xl-4 order-xl-2'>
                <div class='text-center fs-7 py-3'>
                    © 2008 - 2024 • Audience Serv GmbH
                </div>
            </div>
        </div>
    </div>
</footer>