<nav class="navbar navbar-expand-lg bg-black py-2" id='header'>
    <div class="container-fluid px-xl-5">
        <a class="navbar-brand" href="/"><img src='images/audienceserv_logo.png' alt=''></a>
        <button class="navbar-toggler text-white" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                aria-expanded="false" aria-label="Toggle navigation">
            <i class="fs-1 bi bi-list"></i>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-5 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link text-white" href="solutions">
                        Solutions
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-white" href="why-email-marketing">
                        Why Email Marketing?
                    </a>
                </li>
            </ul>

            <div class="dropdown me-3">
                <button class="bg-yellow text-black border-0 py-2 px-3 rounded-3 dropdown-toggle d-flex align-items-center gap-2"
                        type="button"
                        data-bs-toggle="dropdown" aria-expanded="false">
                    <img src='images/uk.png' width='20' class='' alt=''>EN
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item d-flex align-items-center gap-2" href="#"><img src='images/de.png'
                                                                                               width='20' class=''
                                                                                               alt=''>DE</a></li>
                    <li><a class="dropdown-item d-flex align-items-center gap-2" href="#"><img src='images/fr.png'
                                                                                               width='20' class=''
                                                                                               alt=''>FR</a></li>
                </ul>
            </div>
            <div class='d-none align-items-center w-50'>
                <button class='w-25 bg-yellow text-black border-0 py-2 px-3 rounded-start-3'><i
                            class="bi bi-broadcast"></i>
                    What's New
                </button>
                <div class='me-3 w-75 py-2 px-3 rounded-end-3 bg-white'>
                    Lorem Ipsum is simply dummy text of the printing.
                </div>
            </div>
            <button class='border-0 bg-black text-white d-flex align-items-center gap-2' type="button"
                    data-bs-toggle="offcanvas"
                    data-bs-target="#offcanvasScrolling" aria-controls="offcanvasScrolling">
                Menu <i class="fs-1 bi bi-list"></i>
            </button>
        </div>
    </div>
</nav>

<div class="bg-black h-100 offcanvas offcanvas-top" data-bs-scroll="true" data-bs-backdrop="false"
     tabindex="9" id="offcanvasScrolling" aria-labelledby="offcanvasScrollingLabel">
    <div class="offcanvas-header text-end w-100 justify-content-end">
        <button type="button" class='bg-black text-white border-0' data-bs-dismiss="offcanvas" aria-label="Close">
            <i class="bi bi-x-lg fs-2"></i>
        </button>
    </div>
    <div class="offcanvas-body">
        <div class='text-white d-flex align-items-end h-100 w-100'>
            <div class='container-fluid px-xl-5'>
                <div class='row align-items-center'>
                    <div class='col-xl-9'>
                        <div class='fs-120 bebas-font'>
                            <a class='d-block w-100 text-white text-decoration-none' href='email-marketing'>Email
                                Marketing</a>
                            <a class='d-block w-100 text-white text-decoration-none' href='livesend'>LiveSend</a>
                            <a class='d-block w-100 text-white text-decoration-none' href='template-creation'>Template
                                Creation</a>
                        </div>
                    </div>
                    <div class='col-xl-3'>
                        <div class='bg-secondary h-100 w-100 p-3 p-xl-5 rounded-4'>
                            <ul class='menu bebas-font'>
                                <li><a href='about-us'>ABOUT US</a></li>
                                <li><a href='https://audienceserv.bamboohr.com/careers/' target='_blank'>JOIN US</a>
                                </li>
                                <li><a href='case-study'>CASE STUDIES</a></li>
                                <li><a href='https://audienceserv.com/blog/' target='_blank'>BLOG</a></li>
                                <li><a href='press'>PRESS</a></li>
                                <li><a href='contact'>CONTACT US</a></li>
                                <li><a href=''>STAY INFORMED</a></li>
                                <li><a href=''>SITEMAP</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>