<div class='awards mt-100'>
    <div class='title-primary'>
        <div class='mb-3'>
            <div class='container-fluid px-xl-5'>
                <div class='row'>
                    <div class='col-12 col-xl-6'>
                        <div class='bebas-font fs-50 lh-1'>
                            awards
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='border-top border-secondary-subtle bebas-font fs-5 pt-2'>
            <div class='container-fluid px-xl-5'>
                <div class='row'>
                    <div class='col-1'>
                        04
                    </div>
                    <div class='col-11'>
                        YOUR MULTIPLE AWARD-WINNING DIRECT MARKETING COMPANY
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid px-xl-5">
        <div class="row">
            <div class="col-xl-3 text-justify mt-5">
                <p>
                    Our continued growth shows the rising demand for quality email traffic and underscores the ability
                    of our team to deliver successful campaigns for our clients.
                </p>
                <p>
                    We are proud to see that our hard work has been recognized.
                </p>
                <a href="https://audienceserv.bamboohr.com/careers/" class="d-inline-block bg-yellow text-black text-decoration-none rounded py-3 px-4">
                    JOIN OUR TEAM
                </a>
            </div>
            <div class="col-xl-1"></div>
            <div class="col-xl-7">
                <div class='items mt-5 d-flex gap-4 flex-wrap'>
                    <div class='item bg-body-secondary rounded-4 p-4 text-center d-flex align-items-center justify-content-center'>
                        <div>
                            <img src="images/deloitte.png" alt="">
                            <div class='bebas-font mt-2'>
                                DELOITEE TECHNOLOGY
                                <br>FAST 50
                            </div>
                        </div>
                    </div>
                    <div class='item justify-content-center text-center d-flex align-items-center '>
                        <div>
                            <a href='#' class='d-flex text-black text-decoration-none mt-3 align-items-center gap-2'>
                            <span class='bebas-font fs-4'>
                                Updating...
                            </span>

                            </a>
                        </div>
                    </div>
                    <!--<div class='item bg-body-secondary rounded-4 p-4 text-center d-flex align-items-center justify-content-center'>
                        <div>
                            <img src="images/clutch.png" alt="">
                            <div class='bebas-font mt-2'>
                                TOP ADVERTISING
                                <br>
                                AGENCIES & MARKETING
                            </div>
                        </div>
                    </div>
                    <div class='item bg-body-secondary rounded-4 p-4 text-center d-flex align-items-center opacity-0 invisible d-none d-xl-block'>
                    </div>
                    <div class='item bg-body-secondary rounded-4 p-4 text-center d-flex align-items-center justify-content-center'>
                        <div>
                            <img src="images/focus.webp" alt="">
                            <div class='bebas-font mt-2'>
                                FOCUS GROWTH
                                <br>
                                CHAMPION
                            </div>
                        </div>
                    </div>
                    <div class='item bg-body-secondary rounded-4 p-4 text-center d-flex align-items-center justify-content-center'>
                        <div>
                            <img src="images/financial.png" alt="">
                            <div class='bebas-font mt-2'>
                                FT1000:
                                <br>
                                FINANCIAL TIMES
                            </div>
                        </div>
                    </div>
                    -->
                </div>
            </div>
            <div class="col-xl-1"></div>
        </div>
    </div>
</div>