<div class='join-us mt-100'>
    <div class='title-primary'>
        <div class='mb-3'>
            <div class='container-fluid px-xl-5'>
                <div class='row'>
                    <div class='col-12 col-xl-6'>
                        <div class='bebas-font fs-50 lh-1'>
                            Join us
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='border-top border-secondary-subtle bebas-font fs-5 pt-2'>
            <div class='container-fluid px-xl-5'>
                <div class='row'>
                    <div class='col-1'>
                        05
                    </div>
                    <div class='col-11'>
                        OUR GOAL IS TO MAKE EACH OF OUR COLLEAGUES FEEL GOOD AND ENJOY BEING AT WORK.
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid px-xl-5">
        <div class="row">
            <div class="col-xl-3 text-justify mt-5">
                <i class="bi bi-chat-left-quote-fill fs-50 lh-1"></i>
                <p class='mt-3'>
                    We are constantly growing and looking for new members to join our team. If you feel you have the
                    necessary skill set to join Audience Serv, check our current vacancies.
                </p>
                <a href="https://audienceserv.bamboohr.com/careers/" class="d-inline-block bg-black text-yellow text-decoration-none rounded py-3 px-4">
                    JOIN OUR TEAM
                </a>
            </div>
            <div class="col-xl-1"></div>
            <div class="col-xl-7">
                <div class='text-center mt-5'>
                    <img src="images/image4.png" alt="" class='rounded-5'>
                </div>
            </div>
            <div class="col-xl-1"></div>
        </div>
    </div>
</div>