<div class='meet-the-team mt-100 text-white'>
    <div class='title-primary'>
        <div class='mb-3'>
            <div class='container-fluid px-xl-5'>
                <div class='row'>
                    <div class='col-12 col-xl-6'>
                        <div class='bebas-font fs-50 lh-1'>
                            Meet the team
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='border-top border-secondary-subtle bebas-font fs-5 pt-2'>
            <div class='container-fluid px-xl-5'>
                <div class='row'>
                    <div class='col-1'>
                        02
                    </div>
                    <div class='col-11'>
                        EVERYONE IN OUR INTERNATIONAL TEAM IS A CHAMPION IN DIFFERENT AREAS
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class='container-fluid px-xl-5'>
        <div class='row'>
            <div class='col'>
                <div class='bg-secondary p-3 mt-5'>
                    <img src="images/1.png" width='100%' alt="">
                    <div class='mt-3 '>
                        <div>
                            <div class='bebas-font lh-1 fs-1'>
                                Ilja
                                <br class='d-none d-xl-block'>
                                de Boer
                            </div>
                            <div class='text-white-50 mt-2'>
                                CEO - Managing Director
                            </div>
                        </div>
                        <div class='mt-3'>
                            <a class='text-dark-emphasis' href=''><i class="bi bi-linkedin custom-icon"></i></a>
                            &nbsp;
                            <a class='text-dark-emphasis' href=''><i class="bi bi-envelope-fill custom-icon"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class='col'>
                <div class='bg-secondary p-3 mt-5'>
                    <img src="images/3.png" width='100%' alt="">
                    <div class='mt-3 '>
                        <div>
                            <div class='bebas-font lh-1 fs-1'>
                                Carlo
                                <br class='d-none d-xl-block'>
                                Biondo
                            </div>
                            <div class='text-white-50 mt-2'>
                                COO
                            </div>
                        </div>
                        <div class='mt-3'>
                            <a class='text-dark-emphasis' href=''><i class="bi bi-linkedin custom-icon"></i></a>
                            &nbsp;
                            <a class='text-dark-emphasis' href=''><i class="bi bi-envelope-fill custom-icon"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class='col'>
                <div class='bg-secondary p-3 mt-5'>
                    <img src="images/2.png" width='100%' alt="">
                    <div class='mt-3 '>
                        <div>
                            <div class='bebas-font lh-1 fs-1'>
                                Ninh
                                <br class='d-none d-xl-block'>
                                Le Hai
                            </div>
                            <div class='text-white-50 mt-2'>
                                Regional Director - Hanoi Office
                            </div>
                        </div>
                        <div class='mt-3'>
                            <a class='text-dark-emphasis' href=''><i class="bi bi-linkedin custom-icon"></i></a>
                            &nbsp;
                            <a class='text-dark-emphasis' href=''><i class="bi bi-envelope-fill custom-icon"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class='col'>
                <div class='bg-secondary p-3 mt-5'>
                    <img src="images/5.jpeg" width='100%' alt="">
                    <div class='mt-3 '>
                        <div>
                            <div class='bebas-font lh-1 fs-1'>
                                Hau
                                <br class='d-none d-xl-block'>
                                Nguyen Thi
                            </div>
                            <div class='text-white-50 mt-2'>
                                Global Finance Manager
                            </div>
                        </div>
                        <div class='mt-3'>
                            <a class='text-dark-emphasis' href=''><i class="bi bi-linkedin custom-icon"></i></a>
                            &nbsp;
                            <a class='text-dark-emphasis' href=''><i class="bi bi-envelope-fill custom-icon"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class='col'>
                <div class='bg-secondary p-3 mt-5'>
                    <img src="images/4.png" width='100%' alt="">
                    <div class='mt-3 '>
                        <div>
                            <div class='bebas-font lh-1 fs-1'>
                                Ines
                                <br class='d-none d-xl-block'>
                                Valverde
                            </div>
                            <div class='text-white-50 mt-2'>
                                VP Global Sales
                            </div>
                        </div>
                        <div class='mt-3'>
                            <a class='text-dark-emphasis' href=''><i class="bi bi-linkedin custom-icon"></i></a>
                            &nbsp;
                            <a class='text-dark-emphasis' href=''><i class="bi bi-envelope-fill custom-icon"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>