<div class='specialist mt-100'>
    <div class='title-primary'>
        <div class='border-top border-black bebas-font fs-5 pt-2'>
            <div class='container-fluid px-xl-5'>
                <div class='row'>
                    <div class='col-1'>
                        01
                    </div>
                    <div class='col-11'>
                        AUDIENCE SERV IS YOUR CUSTOMER ACQUISITION SPECIALIST
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class='container-fluid px-xl-5'>
        <div class='row'>
            <div class='col-xl-12'>
                <div class='mt-5 pb-5 border-bottom border-dark-subtle'>
                    <div class='row'>
                        <div class='col-xl-5'>
                            <div class='row'>
                                <div class='col-3 col-xl-3'>
                                    <div class='bebas-font lh-1 fs-120 text-start text-xl-end'>
                                        15
                                    </div>
                                </div>
                                <div class='col-9 col-xl-2'>
                                    <i class="bi bi-arrow-up-right custom-icon"></i>
                                </div>
                                <div class='col-xl-7'>
                                    <div class='text-black-50'>
                                        YEARS OF EXPERIENCE IN DIRECT MARKETING.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='col-xl-1'>
                            <div class='d-block d-xl-none mt-5'></div>
                        </div>
                        <div class='col-xl-5'>
                            <div class='row'>
                                <div class='col-3 col-xl-3'>
                                    <div class='bebas-font lh-1 fs-120 text-start text-xl-end'>
                                        4
                                    </div>
                                </div>
                                <div class='col-9 col-xl-2'>
                                    <i class="bi bi-arrow-up-right custom-icon"></i>
                                </div>
                                <div class='col-xl-7'>
                                    <div class='text-black-50'>
                                        OFFICES AROUND THE WORLD: BERLIN, BARCELONA, SINGAPORE, HANOI.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='col-xl-1'></div>
                    </div>
                </div>
            </div>
            <div class='col-xl-12'>
                <div class='mt-5 pb-5 border-bottom border-dark-subtle'>
                    <div class='row'>
                        <div class='col-xl-5'>
                            <div class='row'>
                                <div class='col-3 col-xl-3'>
                                    <div class='bebas-font lh-1 fs-120 text-start text-xl-end'>
                                        100
                                    </div>
                                </div>
                                <div class='col-9 col-xl-2'>
                                    <i class="bi bi-arrow-up-right custom-icon"></i>
                                </div>
                                <div class='col-xl-7'>
                                    <div class='text-black-50'>
                                        PASSIONATE AND EXPERIENCED AUDIENCE EXPERTS.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='col-xl-1'>
                            <div class='d-block d-xl-none mt-5'></div>
                        </div>
                        <div class='col-xl-5'>
                            <div class='row'>
                                <div class='col-3 col-xl-3'>
                                    <div class='bebas-font lh-1 fs-120 text-start text-xl-end'>
                                        15
                                    </div>
                                </div>
                                <div class='col-9 col-xl-2'>
                                    <i class="bi bi-arrow-up-right custom-icon"></i>
                                </div>
                                <div class='col-xl-7'>
                                    <div class='text-black-50'>
                                        COUNTRIES. WE ARE ACTIVE IN AMERICA, EUROPE, ASIA, AND OCEANIA.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='col-xl-1'></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>