<div class='values-vision mt-100'>
    <div class='title-primary'>
        <div class='mb-3'>
            <div class='container-fluid px-xl-5'>
                <div class='row'>
                    <div class='col-12 col-xl-6'>
                        <div class='bebas-font fs-50 lh-1'>
                            values & vision
                        </div>
                        <div class='mt-2'>
                            Our people constantly seek to refine our marketing solutions, our approach drives highly
                            targeted users using techniques from machine learning and artificial intelligence, and our
                            mission is to consistently exceed client expectations in terms of both service levels and
                            campaign outcomes.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='border-top border-black bebas-font fs-5 pt-2'>
            <div class='container-fluid px-xl-5'>
                <div class='row'>
                    <div class='col-1'>
                        03
                    </div>
                    <div class='col-11'>
                        WE STRIVE TO CREATE AN ENVIRONMENT OF SHARED SUCCESS
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class='container-fluid px-xl-5'>
        <div class='row'>
            <div class='col-xl-3'>
                <div class="tab-title nav flex-column me-3 mt-5">
                    <button class="text-start m-0 py-1 px-0 mb-4 text-black nav-link active" data-bs-toggle="pill"
                            data-bs-target="#Culture"
                            type="button">Our Culture
                    </button>
                    <button class="text-start m-0 py-1 px-0 mb-4 text-black nav-link" data-bs-toggle="pill"
                            data-bs-target="#Team"
                            type="button">Our Team
                    </button>
                    <button class="text-start m-0 py-1 px-0 mb-4 text-black nav-link" data-bs-toggle="pill"
                            data-bs-target="#Services"
                            type="button">Our Services
                    </button>
                </div>
            </div>
            <div class='col-xl-8'>
                <div class="tab-content mt-5 border-start border-black p-3">
                    <div class="tab-pane fade show active" id="Culture" role="tabpanel"
                         tabindex="0">
                        <div class='row align-items-center'>
                            <div class='col-xl-6'>
                                <div class='text-center mb-5 mb-xl-0'>
                                    <img src="images/image1.png" alt="">
                                </div>
                            </div>
                            <div class='col-xl-6'>
                                <p class="bebas-font lh-1 fs-50">
                                    Our Culture
                                </p>
                                <p>
                                    We foster an environment of open communication and collaboration, where every voice
                                    is heard and every idea is valued.
                                </p>
                                <p>
                                    Creativity thrives in our dynamic workspace, fueled by the diverse perspectives and
                                    experiences of our team members.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="Team" role="tabpanel"
                         tabindex="0">
                        <div class='row align-items-center'>
                            <div class='col-xl-6'>
                                <div class='text-center mb-5 mb-xl-0'>
                                    <img src="images/image2.png" alt="">
                                </div>
                            </div>
                            <div class='col-xl-6'>
                                <p class="bebas-font lh-1 fs-50">
                                    Our Team
                                </p>
                                <p>
                                    Our team comprises individuals from various walks of life, representing different
                                    cultures, ethnicities, genders, and abilities. We believe that this diversity is our
                                    strength, fostering innovation, creativity, and inclusivity in everything we do.
                                </p>
                                <p>
                                    We attract and select people based on their passion for their specialism and that's
                                    what drives our business.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="Services" role="tabpanel"
                         tabindex="0">
                        <div class='row align-items-center'>
                            <div class='col-xl-6'>
                                <div class='text-center mb-5 mb-xl-0'>
                                    <img src="images/image3.png" alt="">
                                </div>
                            </div>
                            <div class='col-xl-6'>
                                <p class="bebas-font lh-1 fs-50">
                                    Our Services
                                </p>
                                <p>
                                    We've invested years into perfecting our marketing services to help businesses meet
                                    their goals.
                                </p>
                                <p>
                                    Our client base now spans a broad range of industry sectors in Europe, America and
                                    APAC that benefits from our technology, our sophisticated targeting and our years of
                                    experience in strategies that deliver results.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>