<div id='banner' class='banner text-white'>
    <div class='container-fluid px-xl-5'>
        <div class='row align-items-center'>
            <div class='col-xl-2'>
                <div class="tab-title nav column-gap-5 flex-xl-column">
                    <button onclick='changeBackground(this)'
                            class="text-start m-0 py-1 px-0 mb-4 text-white nav-link active" data-bs-toggle="pill"
                            data-bs-target="#BERLIN"
                            type="button">BERLIN
                    </button>
                    <button onclick='changeBackground(this)' class="text-start m-0 py-1 px-0 mb-4 text-white nav-link"
                            data-bs-toggle="pill"
                            data-bs-target="#MUNICH"
                            type="button">MUNICH
                    </button>
                    <button onclick='changeBackground(this)' class="text-start m-0 py-1 px-0 mb-4 text-white nav-link"
                            data-bs-toggle="pill"
                            data-bs-target="#BARCELONA"
                            type="button">BARCELONA
                    </button>
                    <button onclick='changeBackground(this)' class="text-start m-0 py-1 px-0 mb-4 text-white nav-link"
                            data-bs-toggle="pill"
                            data-bs-target="#PORTO"
                            type="button">PORTO
                    </button>
                    <button onclick='changeBackground(this)' class="text-start m-0 py-1 px-0 mb-4 text-white nav-link"
                            data-bs-toggle="pill"
                            data-bs-target="#SINGAPORE"
                            type="button">SINGAPORE
                    </button>
                    <button onclick='changeBackground(this)' class="text-start m-0 py-1 px-0 mb-4 text-white nav-link"
                            data-bs-toggle="pill"
                            data-bs-target="#HANOI"
                            type="button">HANOI
                    </button>
                </div>
            </div>
            <div class='col-xl-5'>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="BERLIN" role="tabpanel"
                         tabindex="0">
                        <p class="bebas-font lh-1 fs-120">
                            BERLIN
                        </p>
                        <p>
                            Knesebeckstraße 59-61
                            <br>
                            10719 Berlin<br>
                            Germany<br><br>
                            +49 30 467 2401-10<br>
                            info@audienceserv.com
                        </p>
                    </div>
                    <div class="tab-pane fade" id="MUNICH" role="tabpanel"
                         tabindex="0">
                        <p class="bebas-font lh-1 fs-120">
                            MUNICH
                        </p>
                        <p>
                            Rupert-Mayer-Str. 44
                            <br>
                            D-81379 Munich<br>
                            Germany<br><br>

                            +49 89 411 472 810<br>
                            info@audienceserv.com
                        </p>
                    </div>
                    <div class="tab-pane fade" id="BARCELONA" role="tabpanel"
                         tabindex="0">
                        <p class="bebas-font lh-1 fs-120">
                            BARCELONA
                        </p>
                        <p>
                            Plaça Gal·la Placidia, 3-5; 8o2a<br>
                            08006 Barcelona<br><br>

                            Spain info@audienceserv.com
                        </p>
                    </div>
                    <div class="tab-pane fade" id="PORTO" role="tabpanel"
                         tabindex="0">
                        <p class="bebas-font lh-1 fs-120">
                            PORTO
                        </p>
                        <p>
                            R. Alfredo Allen 455 461<br>
                            4200-135 Porto<br>
                            Portugal<br><br>

                            +351 22 028 0319<br>
                            info@audienceserv.com
                        </p>
                    </div>
                    <div class="tab-pane fade" id="SINGAPORE" role="tabpanel"
                         tabindex="0">
                        <p class="bebas-font lh-1 fs-120">
                            SINGAPORE
                        </p>
                        <p>
                            101A Upper Cross Street<br>
                            #09-11 People’s Park Centre<br>
                            Singapore 058358<br><br>

                            +65 6715 7032<br>
                            info@audienceserv.com
                        </p>
                    </div>
                    <div class="tab-pane fade" id="HANOI" role="tabpanel"
                         tabindex="0">
                        <p class="bebas-font lh-1 fs-120">
                            HANOI
                        </p>
                        <p>
                            4th floor, M5 building
                            <br>
                            91 Nguyen Chi Thanh Street<br>
                            Lang Ha Ward, Dong Da District<br>
                            Hanoi, Vietnam<br><br>

                            +84 981 909 075<br>
                            info@audienceserv.com
                        </p>
                    </div>
                </div>
            </div>
            <div class='col-xl-4'>
                <div class='bg-white text-black p-4 rounded-4'>
                    <div class='fs-2 bebas-font lh-1 mb-3'>
                        get in touch
                    </div>
                    <form accept-charset='UTF-8' method='post'
                          action='https://go.audienceserv.com/l/875661/2020-08-18/kqvr5h'>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="875661_157792pi_875661_157792" required
                                   name='875661_157792pi_875661_157792' placeholder=''>
                            <label for="875661_157792pi_875661_157792">First Name *</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="875661_157794pi_875661_157794" required
                                   name='875661_157794pi_875661_157794' placeholder=''>
                            <label for="875661_157794pi_875661_157794">Last Name *</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="email" class="form-control" id="875661_157796pi_875661_157796" required
                                   name='875661_157796pi_875661_157796' placeholder=''>
                            <label for="875661_157796pi_875661_157796">Email *</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input type="text" class="form-control" id="875661_157800pi_875661_157800"
                                   name='875661_157800pi_875661_157800' placeholder=''>
                            <label for="875661_157800pi_875661_157800">Company</label>
                        </div>
                        <div class="form-floating mb-3">
                        <textarea name='875661_157802pi_875661_157802' class="form-control" placeholder="" required
                                  id="875661_157802pi_875661_157802"
                                  style="height: 100px"></textarea>
                            <label for="875661_157802pi_875661_157802">Message *</label>
                        </div>
                        <div class="form-check mb-3">
                            <input required name='875661_165411pi_875661_165411_1777273' class="form-check-input" type="checkbox"
                                   value="1777273" id="875661_165411pi_875661_165411_1777273">
                            <label class="form-check-label" style='font-size: 12px'
                                   for="875661_165411pi_875661_165411_1777273">
                                I agree to the Terms and Conditions and have read and understood the Data Protection
                                Declaration. With my consent I agree to receive newsletters from Audience Serv. I can
                                withdraw my
                                consent to receive communications at any time.
                            </label>
                        </div>
                        <button class="w-100 bg-yellow text-black border-0 rounded py-3 px-4">
                            SEND
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
