<div class='staff mt-100'>
    <div class='container'>
        <div class='row row-gap-5'>
            <div class='col-xl-4'>
                <div class='d-flex align-items-center gap-4'>
                    <div>
                        <img class='img-contact rounded-4' src='images/1.png' alt=''>
                    </div>
                    <div>
                        <div class='fs-4'>
                            Ilja de Boer
                        </div>
                        <div class='my-2 text-black-50'>
                            CEO - Managing Director
                        </div>
                        <div>
                            <a href='' class='text-black'><i class="bi bi-linkedin custom-icon"></i></a>
                            <a href='' class='text-black'><i class="bi bi-envelope-fill custom-icon"></i></a>
                        </div>
                    </div>
                </div>
            </div>

            <div class='col-xl-4'>
                <div class='d-flex align-items-center gap-4'>
                    <div>
                        <img class='img-contact rounded-4' src='images/3.png' alt=''>
                    </div>
                    <div>
                        <div class='fs-4'>
                            Carlo Biondo
                        </div>
                        <div class='my-2 text-black-50'>
                            COO
                        </div>
                        <div>
                            <a href='' class='text-black'><i class="bi bi-linkedin custom-icon"></i></a>
                            <a href='' class='text-black'><i class="bi bi-envelope-fill custom-icon"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class='col-xl-4'>
                <div class='d-flex align-items-center gap-4'>
                    <div>
                        <img class='img-contact rounded-4' src='images/2.png' alt=''>
                    </div>
                    <div>
                        <div class='fs-4'>
                            Ninh Le Hai
                        </div>
                        <div class='my-2 text-black-50'>
                            Regional Director - Hanoi Office
                        </div>
                        <div>
                            <a href='' class='text-black'><i class="bi bi-linkedin custom-icon"></i></a>
                            <a href='' class='text-black'><i class="bi bi-envelope-fill custom-icon"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class='col-xl-4'>
                <div class='d-flex align-items-center gap-4'>
                    <div>
                        <img class='img-contact rounded-4' src='images/5.jpeg' alt=''>
                    </div>
                    <div>
                        <div class='fs-4'>
                            Hau Nguyen Thi
                        </div>
                        <div class='my-2 text-black-50'>
                            Global Finance Manager
                        </div>
                        <div>
                            <a href='' class='text-black'><i class="bi bi-linkedin custom-icon"></i></a>
                            <a href='' class='text-black'><i class="bi bi-envelope-fill custom-icon"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class='col-xl-4'>
                <div class='d-flex align-items-center gap-4'>
                    <div>
                        <img class='img-contact rounded-4' src='images/4.png' alt=''>
                    </div>
                    <div>
                        <div class='fs-4'>
                            Ines Valverde
                        </div>
                        <div class='my-2 text-black-50'>
                            VP Global Sales
                        </div>
                        <div>
                            <a href='' class='text-black'><i class="bi bi-linkedin custom-icon"></i></a>
                            <a href='' class='text-black'><i class="bi bi-envelope-fill custom-icon"></i></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>