<div class='subscribe mt-100'>
    <div class='container'>
        <div class='row'>
            <div class='col-xl-12'>
                <div style='background: #f6edf5' class='rounded-5 py-4 pb-0'>
                    <div class='row justify-content-center align-items-center'>
                        <div class='col-xl-6'>
                            <div class='px-3 px-xl-0'>
                                <div class='fs-50 bebas-font lh-1'>
                                    Subscribe to our
                                    <br class='d-none d-xl-block'>
                                    newsletter
                                </div>
                                <div class='my-3'>
                                    Receive the latest news about Audience Serv, marketing trends, events and and stay up to date.
                                </div>
                                <a href=""
                                   class="d-inline-block bg-yellow text-black text-decoration-none rounded py-3 px-4">
                                    SUBSCRIBE
                                </a>
                            </div>
                        </div>
                        <div class='col-xl-5'>
                            <div class='text-center mt-4 mt-xl-0'>
                                <img class='w-75' src="images/Contact.png" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>