<div class='benefits mt-100'>
    <div class='title-primary'>
        <div class='mb-3'>
            <div class='container-fluid px-xl-5'>
                <div class='row'>
                    <div class='col-12 col-xl-6'>
                        <div class='bebas-font fs-50 lh-1'>
                            Email Marketing
                            <br class="d-none d-xl-block">
                            has even more benefits
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='border-top border-black bebas-font fs-5 pt-2'>
            <div class='container-fluid px-xl-5'>
                <div class='row'>
                    <div class='col-1'>
                        03
                    </div>
                    <div class='col-11'>
                        EMAIL MARKETING REMAINS CRUCIAL IN DIGITAL STRATEGIES FOR NUMEROUS REASONS
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class='container-fluid px-xl-5'>
        <div class='row'>
            <div class='col-xl-12'>
                <div class='mt-5 pb-5 border-bottom border-dark-subtle'>
                    <div class='row'>
                        <div class='col-xl-5'>
                            <div class='row'>
                                <div class='col-2 col-xl-2'>
                                    <i class="bi bi-arrow-right custom-icon"></i>
                                </div>
                                <div class='col-10 col-xl-4'>
                                    <div class='bebas-font lh-1 fs-2'>
                                        TARGETED
                                    </div>
                                </div>
                                <div class='col-xl-6'>
                                    <div class='text-black-50'>
                                        Email Campaigns give you the chance to reach an ultra-specific audience with
                                        personalized campaigns.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='col-xl-1'>
                            <div class='d-block d-xl-none mt-5'></div>
                        </div>
                        <div class='col-xl-5'>
                            <div class='row'>
                                <div class='col-2 col-xl-2'>
                                    <i class="bi bi-arrow-right custom-icon"></i>
                                </div>
                                <div class='col-10 col-xl-4'>
                                    <div class='bebas-font lh-1 fs-2'>
                                        MOBILE
                                    </div>
                                </div>
                                <div class='col-xl-6'>
                                    <div class='text-black-50'>
                                        Mobile email marketing allow consumers to do their research and make their
                                        purchases in a matter of seconds.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='col-xl-12'>
                <div class='mt-5 pb-5 border-bottom border-dark-subtle'>
                    <div class='row'>
                        <div class='col-xl-5'>
                            <div class='row'>
                                <div class='col-2 col-xl-2'>
                                    <i class="bi bi-arrow-right custom-icon"></i>
                                </div>
                                <div class='col-10 col-xl-4'>
                                    <div class='bebas-font lh-1 fs-2'>
                                        DIRECT
                                    </div>
                                </div>
                                <div class='col-xl-6'>
                                    <div class='text-black-50'>
                                        Email marketing gives you a direct line to the email inboxes of your (potential)
                                        customers.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='col-xl-1'>
                            <div class='d-block d-xl-none mt-5'></div>
                        </div>
                        <div class='col-xl-5'>
                            <div class='row'>
                                <div class='col-2 col-xl-2'>
                                    <i class="bi bi-arrow-right custom-icon"></i>
                                </div>
                                <div class='col-10 col-xl-4'>
                                    <div class='bebas-font lh-1 fs-2'>
                                        SCALABLE
                                    </div>
                                </div>
                                <div class='col-xl-6'>
                                    <div class='text-black-50'>
                                        The number of email users is far more than any other social media channel. Email
                                        marketing can be used to reach large audiences worldwide.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='col-xl-12'>
                <div class='mt-5 pb-5 border-bottom border-dark-subtle'>
                    <div class='row'>
                        <div class='col-xl-5'>
                            <div class='row'>
                                <div class='col-2 col-xl-2'>
                                    <i class="bi bi-arrow-right custom-icon"></i>
                                </div>
                                <div class='col-10 col-xl-4'>
                                    <div class='bebas-font lh-1 fs-2'>
                                        GENEROUS
                                    </div>
                                </div>
                                <div class='col-xl-6'>
                                    <div class='text-black-50'>
                                        Newsletter not only give you enough space to fully present your message but it
                                        also provides you the full attention of your readers.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='col-xl-1'>
                            <div class='d-block d-xl-none mt-5'></div>
                        </div>
                        <div class='col-xl-5'>
                            <div class='row'>
                                <div class='col-2 col-xl-2'>
                                    <i class="bi bi-arrow-right custom-icon"></i>
                                </div>
                                <div class='col-10 col-xl-4'>
                                    <div class='bebas-font lh-1 fs-2'>
                                        MEASURABLE
                                    </div>
                                </div>
                                <div class='col-xl-6'>
                                    <div class='text-black-50'>
                                        Email Marketing allows you to track open, click-through and conversion rates.
                                        Real-Time results make it easy to spot how a campaign can be optimized.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<div class='container-fluid px-xl-5'>
    <div class='row'>
        <div class='col-xl-12'>
            <div class='bebas-font lh-1 fs-1 mt-5 text-center'>
                use email marketing
                <br>
                successfully
                <div class='mt-5'>
                    <img src="images/image20.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>