<div class='boost-company-growth mt-100 text-white'>
    <div class='title-primary'>
        <div class='mb-3'>
            <div class='container-fluid px-xl-5'>
                <div class='row'>
                    <div class='col-12 col-xl-6'>
                        <div>
                            Email Marketing is a powerful way to maximize your online marketing efforts. It will help
                            you to strengthen your brand awareness, to drive traffic & sales, and to build long-term
                            customer relationships.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='border-top border-secondary-subtle bebas-font fs-5 pt-2'>
            <div class='container-fluid px-xl-5'>
                <div class='row'>
                    <div class='col-1'>
                        04
                    </div>
                    <div class='col-11'>
                        boost company growth
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class='container-fluid px-xl-5'>
        <div class='row'>
            <div class='col-xl-3'>
                <div class="tab-title nav flex-column me-3 mt-5">
                    <button class="text-start m-0 py-1 px-0 mb-4 text-white nav-link active" data-bs-toggle="pill"
                            data-bs-target="#Increase-Brand-Awareness"
                            type="button">Increase Brand Awareness
                    </button>
                    <button class="text-start m-0 py-1 px-0 mb-4 text-white nav-link" data-bs-toggle="pill"
                            data-bs-target="#Drive-Traffic-Conversions"
                            type="button">Drive Traffic & Conversions
                    </button>
                    <button class="text-start m-0 py-1 px-0 mb-4 text-white nav-link" data-bs-toggle="pill"
                            data-bs-target="#Build-Customer-Loyalty"
                            type="button">Build Customer Loyalty
                    </button>
                    <div>
                        <a href="" class="d-inline-block bg-yellow text-black text-decoration-none rounded py-3 px-4">
                            LEARN MORE
                        </a>
                    </div>
                </div>
            </div>
            <div class='col-xl-8'>
                <div class="tab-content mt-5 border-start border-secondary-subtle p-3">
                    <div class="tab-pane fade show active" id="Increase-Brand-Awareness" role="tabpanel"
                         tabindex="0">
                        <div class='row align-items-center'>
                            <div class='col-xl-6'>
                                <div class='text-center mb-5 mb-xl-0'>
                                    <img src="images/image21.png" alt="">
                                </div>
                            </div>
                            <div class='col-xl-6'>
                                <p class="bebas-font lh-1 fs-2">
                                    Increase Brand Awareness
                                </p>
                                <p>
                                    Spread your message and leverage the direct connection to your potential customers
                                    per email.
                                </p>
                                <p class='d-flex align-items-center gap-3'>
                                    <span><i class='bi bi-arrow-right custom-icon text-black'></i></span>
                                    Use storytelling to combining facts with a narrative to deliver your message.
                                </p>
                                <p class='d-flex align-items-center gap-3'>
                                    <span><i class='bi bi-arrow-right custom-icon text-black'></i></span>
                                    Address the needs of your potential customers to connect.
                                </p>
                                <p class='d-flex align-items-center gap-3'>
                                    <span><i class='bi bi-arrow-right custom-icon text-black'></i></span>
                                    Reach thousands of potential customers and increase the awareness for your brand.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="Drive-Traffic-Conversions" role="tabpanel"
                         tabindex="0">
                        <div class='row align-items-center'>
                            <div class='col-xl-6'>
                                <div class='text-center mb-5 mb-xl-0'>
                                    <img src="images/image22.png" alt="">
                                </div>
                            </div>
                            <div class='col-xl-6'>
                                <p class="bebas-font lh-1 fs-2">
                                    Drive traffic & conversions
                                </p>
                                <p>
                                    Boosting traffic and sales is the most common use case for email marketing.
                                </p>
                                <p class='d-flex align-items-center gap-3'>
                                    <span><i class='bi bi-arrow-right custom-icon text-black'></i></span>
                                    Targeting segmented target groups with personalized offers will boost conversions.
                                </p>
                                <p class='d-flex align-items-center gap-3'>
                                    <span><i class='bi bi-arrow-right custom-icon text-black'></i></span>
                                    Thanks to state-of-the-art technologies you can send your newsletters at the right
                                    time to the right audience with outstanding results.
                                </p>
                                <p class='d-flex align-items-center gap-3'>
                                    <span><i class='bi bi-arrow-right custom-icon text-black'></i></span>
                                    You can scale your email marketing campaigns with little effort and maximize your
                                    ROl.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="Build-Customer-Loyalty" role="tabpanel"
                         tabindex="0">
                        <div class='row align-items-center'>
                            <div class='col-xl-6'>
                                <div class='text-center mb-5 mb-xl-0'>
                                    <img src="images/image23.png" alt="">
                                </div>
                            </div>
                            <div class='col-xl-6'>
                                <p class="bebas-font lh-1 fs-2">
                                    Build customer loyalty
                                </p>
                                <p>
                                    Take new generated leads and customers down the funnel and maximizing your profits.
                                    Increase customer retention to augment the lifetime value of your customers.
                                </p>
                                <p class='d-flex align-items-center gap-3'>
                                    <span><i class='bi bi-arrow-right custom-icon text-black'></i></span>
                                    Continue to build relationships with all new customers (customer retention/loyalty).
                                </p>
                                <p class='d-flex align-items-center gap-3'>
                                    <span><i class='bi bi-arrow-right custom-icon text-black'></i></span>
                                    Up-/Down-/Crosselling to generate more sales.
                                </p>
                                <p class='d-flex align-items-center gap-3'>
                                    <span><i class='bi bi-arrow-right custom-icon text-black'></i></span>
                                    Examples: Regular Newsletter, Loyalty Rewards, Business & Product Updates, Reminder,
                                    Birthday Emails.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>