<div class='lets-talk mt-100'>
    <div class='container'>
        <div class='row justify-content-center align-items-center'>
            <div class='col-xl-6'>
                <div class='fs-50 bebas-font lh-1'>
                    Let's talk about
                    <br class='d-none d-xl-block'>
                    your Marketing Strategy
                </div>
                <div class='my-3'>
                    We take a quick look at your current inbound marketing strategy and your target group and give you
                    great advice on how to drive your business growth.
                </div>
                <a href="contact" class="d-inline-block bg-yellow text-black text-decoration-none rounded py-3 px-4">
                    GET IN TOUCH
                </a>
            </div>
            <div class='col-xl-5'>
                <div class='text-center mt-4 mt-xl-0'>
                    <img src="images/image10.png" alt="" style='filter: invert(1)'>
                </div>
            </div>
        </div>
    </div>
</div>