<div class='statistics mt-100'>
    <div class='title-primary'>
        <div class='border-top border-black bebas-font fs-5 pt-2'>
            <div class='container-fluid px-xl-5'>
                <div class='row'>
                    <div class='col-1'>
                        02
                    </div>
                    <div class='col-11'>
                        CHECK OUT THOSE IMPRESSIVE NUMBERS AND STATISTICS
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class='container-fluid px-xl-5'>
        <div class='row'>
            <div class='col-xl-12'>
                <div class='mt-5 pb-5 border-bottom border-dark-subtle'>
                    <div class='row'>
                        <div class='col-xl-5'>
                            <div class='row'>
                                <div class='col-3 col-xl-3'>
                                    <div class='bebas-font lh-1 fs-120 text-start text-xl-end'>
                                        4,6
                                    </div>
                                </div>
                                <div class='col-9 col-xl-2'>
                                    <i class="bi bi-percent custom-icon"></i>
                                </div>
                                <div class='col-xl-7'>
                                    <div class='text-black-50'>
                                        EMAIL USERS WILL EXIST WORLDWIDE IN 2025.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='col-xl-1'>
                            <div class='d-block d-xl-none mt-5'></div>
                        </div>
                        <div class='col-xl-5'>
                            <div class='row'>
                                <div class='col-3 col-xl-3'>
                                    <div class='bebas-font lh-1 fs-120 text-start text-xl-end'>
                                        50
                                    </div>
                                </div>
                                <div class='col-9 col-xl-2'>
                                    <i class="bi bi-percent custom-icon"></i>
                                </div>
                                <div class='col-xl-7'>
                                    <div class='text-black-50'>
                                        OF PEOPLE BUY FROM MARKETING EMAILS AT LEAST ONCE PER MONTH
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='col-xl-1'></div>
                    </div>
                </div>
            </div>
            <div class='col-xl-12'>
                <div class='mt-5 pb-5 border-bottom border-dark-subtle'>
                    <div class='row'>
                        <div class='col-xl-5'>
                            <div class='row'>
                                <div class='col-3 col-xl-3'>
                                    <div class='bebas-font lh-1 fs-120 text-start text-xl-end'>
                                        87
                                    </div>
                                </div>
                                <div class='col-9 col-xl-2'>
                                    <i class="bi bi-percent custom-icon"></i>
                                </div>
                                <div class='col-xl-7'>
                                    <div class='text-black-50'>
                                        OF BRANDS SAY THAT EMAIL MARKETING IS VERY CRITICAL TO BUSINESS SUCCESS
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='col-xl-1'>
                            <div class='d-block d-xl-none mt-5'></div>
                        </div>
                        <div class='col-xl-5'>
                            <div class='row'>
                                <div class='col-3 col-xl-3'>
                                    <div class='bebas-font lh-1 fs-120 text-start text-xl-end'>
                                        38
                                    </div>
                                </div>
                                <div class='col-9 col-xl-2'>
                                    <i class="bi bi-percent custom-icon"></i>
                                </div>
                                <div class='col-xl-7'>
                                    <div class='text-black-50'>
                                        OF BRANDS ARE INCREASING THEIR EMAIL BUDGET, AND JUST 10% ARE MAKING CUTS.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='col-xl-1'></div>
                    </div>
                </div>
            </div>
            <div class='col-xl-12'>
                <div class='mt-5 pb-5 border-bottom border-dark-subtle'>
                    <div class='row'>
                        <div class='col-xl-5'>
                            <div class='row'>
                                <div class='col-3 col-xl-3'>
                                    <div class='bebas-font lh-1 fs-120 text-start text-xl-end'>
                                        60
                                    </div>
                                </div>
                                <div class='col-9 col-xl-2'>
                                    <i class="bi bi-percent custom-icon"></i>
                                </div>
                                <div class='col-xl-7'>
                                    <div class='text-black-50'>
                                        OF RESPONDENTS SAY THAT MARKETING EMAILS HAVE INFLUENCED THEIR
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='col-xl-1'>
                            <div class='d-block d-xl-none mt-5'></div>
                        </div>
                        <div class='col-xl-5'>
                            <div class='row'>
                                <div class='col-3 col-xl-3'>
                                    <div class='bebas-font lh-1 fs-120 text-start text-xl-end'>
                                        36
                                    </div>
                                </div>
                                <div class='col-9 col-xl-2'>
                                    <i class="bi bi-percent custom-icon"></i>
                                </div>
                                <div class='col-xl-7'>
                                    <div class='text-black-50'>
                                        FOR EVERY 1€ SPENT IS THE AVERAGE ROI THROUGH EMAIL MARKETING. PURCHASES.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='col-xl-1'></div>
                    </div>
                </div>
            </div>
            <div class='col-xl-3'>
                <div class='fs-8 mt-5'>
                    Source: Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor
                    invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua.
                </div>
            </div>
            <div class='col-xl-12'>
                <div class='text-center mt-5'>
                    <img src="images/image19.png" alt="">
                </div>
            </div>
        </div>
    </div>
</div>