<div class='still-matters mt-100'>
    <div class='title-primary'>
        <div class='mb-3'>
            <div class='container-fluid px-xl-5'>
                <div class='row'>
                    <div class='col-12 col-xl-6'>
                        <div class='bebas-font fs-50 lh-1'>
                            Email Marketing Still
                            <br class="d-none d-xl-block">
                            Matters in 2024
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='border-top border-black bebas-font fs-5 pt-2'>
            <div class='container-fluid px-xl-5'>
                <div class='row'>
                    <div class='col-1'>
                        01
                    </div>
                    <div class='col-11'>
                        REASONS WHY COMPANIES SHOULD CONSIDER EMAIL MARKETING
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class='container-fluid px-xl-5'>
        <div class='row'>
            <div class='col-xl-12'>
                <div class='mt-5 pb-5 border-bottom border-dark-subtle'>
                    <div class='row'>
                        <div class='col-xl-5'>
                            <div class='row'>
                                <div class='col-2 col-xl-2'>
                                    <i class="bi bi-arrow-right custom-icon"></i>
                                </div>
                                <div class='col-10 col-xl-4'>
                                    <div class='bebas-font lh-1 fs-2'>
                                        ESSENTIAL
                                    </div>
                                </div>
                                <div class='col-xl-6'>
                                    <div class='text-black-50'>
                                        More than 90 percent of survey respondents say email marketing is important to
                                        their
                                        company's overall success.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='col-xl-1'>
                            <div class='d-block d-xl-none mt-5'></div>
                        </div>
                        <div class='col-xl-5'>
                            <div class='row'>
                                <div class='col-2 col-xl-2'>
                                    <i class="bi bi-arrow-right custom-icon"></i>
                                </div>
                                <div class='col-10 col-xl-4'>
                                    <div class='bebas-font lh-1 fs-2'>
                                        OPTIMAL
                                    </div>
                                </div>
                                <div class='col-xl-6'>
                                    <div class='text-black-50'>
                                        55 percent of consumers say email is their preferred digital channel for
                                        business
                                        communication.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='col-xl-12'>
                <div class='mt-5 pb-5 border-bottom border-dark-subtle'>
                    <div class='row'>
                        <div class='col-xl-5'>
                            <div class='row'>
                                <div class='col-2 col-xl-2'>
                                    <i class="bi bi-arrow-right custom-icon"></i>
                                </div>
                                <div class='col-10 col-xl-4'>
                                    <div class='bebas-font lh-1 fs-2'>
                                        CRUCIAL
                                    </div>
                                </div>
                                <div class='col-xl-6'>
                                    <div class='text-black-50'>
                                        Email is considered one of the most effective channels for marketing, with 79
                                        percent of
                                        marketers placing it in their top 3.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='col-xl-1'>
                            <div class='d-block d-xl-none mt-5'></div>
                        </div>
                        <div class='col-xl-5'>
                            <div class='row'>
                                <div class='col-2 col-xl-2'>
                                    <i class="bi bi-arrow-right custom-icon"></i>
                                </div>
                                <div class='col-10 col-xl-4'>
                                    <div class='bebas-font lh-1 fs-2'>
                                        UBIQUITOUS
                                    </div>
                                </div>
                                <div class='col-xl-6'>
                                    <div class='text-black-50'>
                                        More than half the world's population (over 4.2 billion people) were active
                                        email users
                                        globally in 2022. By the end of 2026, that figure is projected to go over 4.7
                                        billion.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='col-xl-12'>
                <div class='mt-5 pb-5 border-bottom border-dark-subtle'>
                    <div class='row'>
                        <div class='col-xl-5'>
                            <div class='row'>
                                <div class='col-2 col-xl-2'>
                                    <i class="bi bi-arrow-right custom-icon"></i>
                                </div>
                                <div class='col-10 col-xl-4'>
                                    <div class='bebas-font lh-1 fs-2'>
                                        PROMISING
                                    </div>
                                </div>
                                <div class='col-xl-6'>
                                    <div class='text-black-50'>
                                        The use of Al in email marketing is expected to grow, helping in crafting
                                        emails,
                                        creating catchy subject lines, and personalizing content.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class='col-xl-1'>
                            <div class='d-block d-xl-none mt-5'></div>
                        </div>
                        <div class='col-xl-5'>
                            <div class='row'>
                                <div class='col-2 col-xl-2'>
                                    <i class="bi bi-arrow-right custom-icon"></i>
                                </div>
                                <div class='col-10 col-xl-4'>
                                    <div class='bebas-font lh-1 fs-2'>
                                        EFFECTIVE
                                    </div>
                                </div>
                                <div class='col-xl-6'>
                                    <div class='text-black-50'>
                                        A staggering statistic highlights its ongoing relevance: email marketing offers
                                        a return
                                        on investment (ROI) of 36€ for every 1€ spent.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>