<div class='database-overview mt-100 text-white'>
    <div class='title-primary'>
        <div class='mb-3'>
            <div class='container-fluid px-xl-5'>
                <div class='row'>
                    <div class='col-12 col-xl-6'>
                        <div class='bebas-font fs-50 lh-1'>
                            database overview
                        </div>
                        <div class='mt-2'>
                            With our self-operated website portals, we have expanded a particularly large GDPR complaint
                            data pool in numerous industry verticals.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='border-top border-secondary-subtle bebas-font fs-5 pt-2'>
            <div class='container-fluid px-xl-5'>
                <div class='row'>
                    <div class='col-1'>
                        02
                    </div>
                    <div class='col-11'>
                        REACH MILLIONS OF NEW CUSTOMERS WITHOUT HAVING A DATABASE
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class='container-fluid px-xl-5'>
        <div class='row'>
            <div class='col-xl-3'>
                <div class="tab-title nav flex-column me-3 mt-5">
                    <button class="text-start m-0 py-1 px-0 mb-4 text-white nav-link active" data-bs-toggle="pill"
                            data-bs-target="#Age-Split"
                            type="button">Age Split
                    </button>
                    <button class="text-start m-0 py-1 px-0 mb-4 text-white nav-link" data-bs-toggle="pill"
                            data-bs-target="#Gender-Split"
                            type="button">Gender Split
                    </button>
                    <button class="text-start m-0 py-1 px-0 mb-4 text-white nav-link" data-bs-toggle="pill"
                            data-bs-target="#Targeting-Options"
                            type="button">Targeting Options
                    </button>
                    <button class="text-start m-0 py-1 px-0 mb-4 text-white nav-link" data-bs-toggle="pill"
                            data-bs-target="#Industry-Verticals"
                            type="button">Industry Verticals
                    </button>
                    <button class="text-start m-0 py-1 px-0 mb-4 text-white nav-link" data-bs-toggle="pill"
                            data-bs-target="#Volumes-and-Geos"
                            type="button">Volumes and Geos
                    </button>
                    <button class="text-start m-0 py-1 px-0 mb-4 text-white nav-link" data-bs-toggle="pill"
                            data-bs-target="#Data-protection-and-compliance"
                            type="button">Data protection and compliance
                    </button>
                </div>
            </div>
            <div class='col-xl-8'>
                <div class="tab-content mt-5 border-start border-secondary-subtle p-3">
                    <div class="tab-pane fade show active" id="Age-Split" role="tabpanel"
                         tabindex="0">
                        <div class='row align-items-center'>
                            <div class='col-xl-6'>
                                <div class='mb-5 mb-xl-0 d-flex align-items-center gap-3 flex-wrap'>
                                    <div class="chart"></div>
                                    <table>
                                        <tr>
                                            <td><span class="blue"></span></td>
                                            <td align="right">4%</td>
                                            <td>18-24</td>
                                        </tr>
                                        <tr>
                                            <td><span class="orange"></span></td>
                                            <td align="right">23%</td>
                                            <td>25-34</td>
                                        </tr>
                                        <tr>
                                            <td><span class="green"></span></td>
                                            <td align="right">31%</td>
                                            <td>35-44</td>
                                        </tr>
                                        <tr>
                                            <td><span class="yellow"></span></td>
                                            <td align="right">25%</td>
                                            <td>45-54</td>
                                        </tr>
                                        <tr>
                                            <td><span class="dark-blue"></span></td>
                                            <td align="right">17%</td>
                                            <td>55+</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class='col-xl-6'>
                                <p class="bebas-font lh-1 fs-2">
                                    Age Split
                                </p>
                                <p>
                                    On request, we can provide information about combinations of age data and target
                                    regions.
                                </p>
                                <a href=""
                                   class="d-inline-block bg-yellow text-black text-decoration-none rounded py-3 px-4">
                                    REQUEST MORE
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="Gender-Split" role="tabpanel"
                         tabindex="0">
                        <div class='row align-items-center'>
                            <div class='col-xl-6'>
                                <div class='mb-5 mb-xl-0 d-flex align-items-center gap-3 flex-wrap'>
                                    <div class="chart"></div>
                                    <table>
                                        <tr>
                                            <td><span class="blue"></span></td>
                                            <td align="right">4%</td>
                                            <td>18-24</td>
                                        </tr>
                                        <tr>
                                            <td><span class="orange"></span></td>
                                            <td align="right">23%</td>
                                            <td>25-34</td>
                                        </tr>
                                        <tr>
                                            <td><span class="green"></span></td>
                                            <td align="right">31%</td>
                                            <td>35-44</td>
                                        </tr>
                                        <tr>
                                            <td><span class="yellow"></span></td>
                                            <td align="right">25%</td>
                                            <td>45-54</td>
                                        </tr>
                                        <tr>
                                            <td><span class="dark-blue"></span></td>
                                            <td align="right">17%</td>
                                            <td>55+</td>
                                        </tr>
                                    </table>
                                </div>
                            </div>
                            <div class='col-xl-6'>
                                <p class="bebas-font lh-1 fs-2">
                                    Gender Split
                                </p>
                                <p>
                                    On request, we can provide information about combinations of age data and target
                                    regions.
                                </p>
                                <a href=""
                                   class="d-inline-block bg-yellow text-black text-decoration-none rounded py-3 px-4">
                                    REQUEST MORE
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="Targeting-Options" role="tabpanel"
                         tabindex="0">
                        <div class='row align-items-center'>
                            <div class='col-xl-6'>
                                <div class='text-center mb-5 mb-xl-0'>
                                    <img src="images/image5.png" alt="">
                                </div>
                            </div>
                            <div class='col-xl-6'>
                                <p class="bebas-font lh-1 fs-2">
                                    Targeting Options
                                </p>
                                <p>
                                    Here is a few of our standard targeting options. In addition, we offer further more
                                    with our LiveSend solution.
                                </p>
                                <div>
                                    <span class='d-inline-block border border-secondary-subtle rounded-pill fs-8 py-1 px-3 mb-2'>GENDER</span>
                                    <span class='d-inline-block border border-secondary-subtle rounded-pill fs-8 py-1 px-3 mb-2'>AGE</span>
                                    <span class='d-inline-block border border-secondary-subtle rounded-pill fs-8 py-1 px-3 mb-2'>ADORESS</span>
                                    <span class='d-inline-block border border-secondary-subtle rounded-pill fs-8 py-1 px-3 mb-2'>INTERESTS</span>
                                    <span class='d-inline-block border border-secondary-subtle rounded-pill fs-8 py-1 px-3 mb-2'>PURCHASE</span>
                                    <span class='d-inline-block border border-secondary-subtle rounded-pill fs-8 py-1 px-3 mb-2'>INCOME</span>
                                    <span class='d-inline-block border border-secondary-subtle rounded-pill fs-8 py-1 px-3 mb-2'>ZIPCODE</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="Industry-Verticals" role="tabpanel"
                         tabindex="0">
                        <div class='row align-items-center'>
                            <div class='col-xl-6'>
                                <div class='text-center mb-5 mb-xl-0'>
                                    <img src="images/image6.png" alt="">
                                </div>
                            </div>
                            <div class='col-xl-6'>
                                <p class="bebas-font lh-1 fs-2">
                                    Industry Verticals
                                </p>
                                <p>
                                    Here is a few of our standard targeting options. In addition, we offer further more
                                    with our LiveSend solution.
                                </p>
                                <div>
                                    <span class='d-inline-block border border-secondary-subtle rounded-pill fs-8 py-1 px-3 mb-2'>GENDER</span>
                                    <span class='d-inline-block border border-secondary-subtle rounded-pill fs-8 py-1 px-3 mb-2'>AGE</span>
                                    <span class='d-inline-block border border-secondary-subtle rounded-pill fs-8 py-1 px-3 mb-2'>ADORESS</span>
                                    <span class='d-inline-block border border-secondary-subtle rounded-pill fs-8 py-1 px-3 mb-2'>INTERESTS</span>
                                    <span class='d-inline-block border border-secondary-subtle rounded-pill fs-8 py-1 px-3 mb-2'>PURCHASE</span>
                                    <span class='d-inline-block border border-secondary-subtle rounded-pill fs-8 py-1 px-3 mb-2'>INCOME</span>
                                    <span class='d-inline-block border border-secondary-subtle rounded-pill fs-8 py-1 px-3 mb-2'>ZIPCODE</span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="Volumes-and-Geos" role="tabpanel"
                         tabindex="0">
                        <div class='row align-items-center'>
                            <div class='col-xl-6'>
                                <div class='text-center mb-5 mb-xl-0'>
                                    <img src="images/image7.png" alt="">
                                </div>
                            </div>
                            <div class='col-xl-6'>
                                <p class="bebas-font lh-1 fs-2">
                                    Volumes & Geos
                                </p>
                                <p>
                                    Here is a few of our standard targeting options. In addition, we offer further more
                                    with our LiveSend solution.
                                </p>
                                <ul class='countries d-flex flex-wrap row-gap-3'>
                                    <li><img width='25' src="images/flags/australia.png" alt=""> Austria
                                    </li>
                                    <li><img width='25' src="images/flags/italy.png" alt="">
                                        Italy
                                    </li>
                                    <li><img width='25' src="images/flags/spain.png" alt="">
                                        Spain
                                    </li>
                                    <li><img width='25' src="images/flags/belgium.png" alt=""> Belgium
                                    </li>
                                    <li><img width='25' src="images/flags/malaysia.png" alt=""> Malaysia
                                    </li>
                                    <li><img width='25' src="images/flags/sweden.png" alt="">
                                        Sweden
                                    </li>
                                    <li><img width='25' src="images/flags/brazil.png" alt="">
                                        Brazil
                                    </li>
                                    <li><img width='25' src="images/flags/netherlands.png" alt=""> Netherlands
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="Data-protection-and-compliance" role="tabpanel"
                         tabindex="0">
                        <div class='row align-items-center'>
                            <div class='col-xl-6'>
                                <div class='text-center mb-5 mb-xl-0'>
                                    <img src="images/image8.png" alt="">
                                </div>
                            </div>
                            <div class='col-xl-6'>
                                <p class="bebas-font lh-1 fs-2">
                                    Data protection & compliance
                                </p>
                                <p class='d-flex align-items-center gap-3'>
                                    <span><i class='bi bi-arrow-right custom-icon text-black'></i></span>
                                    Compliance with applicable legal requirements including the GDPR.
                                </p>
                                <p class='d-flex align-items-center gap-3'>
                                    <span><i class='bi bi-arrow-right custom-icon text-black'></i></span>
                                    Full data transparency about data sources, Opt-In procedures, and data maintenance.
                                </p>
                                <p class='d-flex align-items-center gap-3'>
                                    <span><i class='bi bi-arrow-right custom-icon text-black'></i></span>
                                    Verified database with full control of where campaigns are delivered.
                                </p>
                                <p class='d-flex align-items-center gap-3'>
                                    <span><i class='bi bi-arrow-right custom-icon text-black'></i></span>
                                    Accredited by IAB, BVDW, DDV.
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>