<div class='drive-traffic mt-100'>
    <div class='title-primary'>
        <div class='mb-3'>
            <div class='container-fluid px-xl-5'>
                <div class='row'>
                    <div class='col-12 col-xl-6'>
                        <div class='bebas-font fs-50 lh-1'>
                            Drive traffic,
                            <br class="d-none d-xl-block">
                            sales and revenues
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='border-top border-black bebas-font fs-5 pt-2'>
            <div class='container-fluid px-xl-5'>
                <div class='row'>
                    <div class='col-1'>
                        01
                    </div>
                    <div class='col-11'>
                        YOUR BENEFITS AT A GLANCE
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class='container-fluid px-xl-5'>
        <div class='row'>
            <div class='col-xl-3 text-justify mt-5'>
                <p>
                    Use smart, data-driven email marketing to drive customer acquisition at scale and under budget.
                </p>
                <p>
                    Define your ideal target audience and we will build it for you. From there we can plan and execute
                    customized email campaigns to exceed your customer acquisition and revenue goals.
                </p>
                <a href='' class='d-inline-block bg-black text-yellow text-decoration-none rounded py-3 px-4'>
                    GET STARTED
                </a>
            </div>
            <div class='col-xl-1'></div>
            <div class='col-xl-7'>
                <div class='row'>
                    <div class='col-xl-6'>
                        <div class='d-flex gap-4 mt-5'>
                            <div>
                                <i class="bi bi-arrow-right custom-icon"></i>
                            </div>
                            <div>
                                <div class="bebas-font lh-1 fs-2 mb-2">
                                    INCREASED REACH
                                </div>
                                130 + million opt-in premium data sets worldwide and frequent audience pool updates
                            </div>
                        </div>
                    </div>
                    <div class='col-xl-6'>
                        <div class='d-flex gap-4 mt-5'>
                            <div>
                                <i class="bi bi-arrow-right custom-icon"></i>
                            </div>
                            <div>
                                <div class="bebas-font lh-1 fs-2 mb-2">
                                    ADVANCED TARGETING OPTIONS
                                </div>
                                Comprehensive, flexible targeting solutions.
                            </div>
                        </div>
                    </div>
                    <div class='col-xl-6'>
                        <div class='d-flex gap-4 mt-5'>
                            <div>
                                <i class="bi bi-arrow-right custom-icon"></i>
                            </div>
                            <div>
                                <div class="bebas-font lh-1 fs-2 mb-2">
                                    MARKETS
                                </div>
                                Active in 20+ countries in America, Europe, Asia, and Oceania.
                            </div>
                        </div>
                    </div>
                    <div class='col-xl-6'>
                        <div class='d-flex gap-4 mt-5'>
                            <div>
                                <i class="bi bi-arrow-right custom-icon"></i>
                            </div>
                            <div>
                                <div class="bebas-font lh-1 fs-2 mb-2">
                                    POWERFUL ANALYTICS
                                </div>
                                Automated real-time optimization and reliable campaign results
                            </div>
                        </div>
                    </div>
                    <div class='col-xl-6'>
                        <div class='d-flex gap-4 mt-5'>
                            <div>
                                <i class="bi bi-arrow-right custom-icon"></i>
                            </div>
                            <div>
                                <div class="bebas-font lh-1 fs-2 mb-2">
                                    EXPERIENCE
                                </div>
                                15+ years of experience in direct marketing.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class='col-xl-1'></div>
        </div>
    </div>
</div>