<div id='banner' class='banner'>
    <div class='container'>
        <div class='row align-items-center'>
            <div class='col-xl-6'>
                <img src='images/global.png' alt=''>
            </div>
            <div class='col-xl-6 order-xl-first bebas-font text-white fs-120 lh-1'>
                Online
                <br class='d-none d-xl-block'>
                Customer
                <br class='d-none d-xl-block'>
                Acquisition<span class='text-yellow'>.</span>
            </div>
            <div class='col-xl-5'>
                <div class='text-white py-3 py-xl-0 text-justify'>
                    We put the eyes of the right audience towards your campaign thanks to our smart data-driven email
                    marketing and our opt-in B2C database of over 130+ million users worldwide.
                </div>
            </div>
            <div class='col-xl-7'>
                <a href='solutions' class='d-inline-block bg-yellow text-black text-decoration-none rounded py-3 px-4'>
                    DISCOVER SOLUTIONS
                </a>
            </div>
        </div>
    </div>
</div>