<div class='case-studies mt-100'>
    <div class='title-primary'>
        <div class='border-top border-black bebas-font fs-5 pt-2'>
            <div class='container-fluid px-xl-5'>
                <div class='row'>
                    <div class='col-1'>
                        05
                    </div>
                    <div class='col-11'>
                        CASE STUDIES
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class='container-fluid px-xl-5'>
        <div class='row'>
            <div class='col-xl-3'>
                <div class='mt-5'>
                    <img class='rounded-4 w-100 object-fit-cover' src='images/barclays.webp' height='235' alt=''>
                    <span class='d-inline-block bg-secondary text-white fs-8 text-uppercase rounded-pill py-1 px-3 mt-3'>
                        finance
                    </span>
                    <div class='fs-5 mt-3'>
                        BarclayCard
                    </div>
                    <div class='text-black-50 mt-1'>
                        Barclaycard was founded in 1966 as part of the Barclays Group, one of the world’s leading banks. Today, the credit card company counts 30 Mio customers and retailers around the world.
                    </div>
                </div>
            </div>
            <div class='col-xl-3'>
                <div class='mt-5'>
                    <img class='rounded-4 w-100 object-fit-cover' src='images/eterna.jpg' height='235' alt=''>
                    <span class='d-inline-block bg-secondary text-white fs-8 text-uppercase rounded-pill py-1 px-3 mt-3'>
                        Fashion
                    </span>
                    <div class='fs-5 mt-3'>
                        Eterna
                    </div>
                    <div class='text-black-50 mt-1'>
                        As a leading fashion manufacturer, ETERNA has relied on responsible and high-quality fashion since 1863. In 2019 the company achieved 106 million euros in revenue in more than 40 countries.
                    </div>
                </div>
            </div>
            <div class='col-xl-3'>
                <div class='mt-5'>
                    <img class='rounded-4 w-100 object-fit-cover' src='images/HP-Store.jpg' height='235' alt=''>
                    <span class='d-inline-block bg-secondary text-white fs-8 text-uppercase rounded-pill py-1 px-3 mt-3'>
                        Electronics
                    </span>
                    <div class='fs-5 mt-3'>
                        HP
                    </div>
                    <div class='text-black-50 mt-1'>
                        HP is a multinational information technology company that sells PCs and other computing devices, software and related business services.
                    </div>
                </div>
            </div>
            <div class='col-xl-3'>
                <div class='mt-5'>
                    <img class='rounded-4 w-100 object-fit-cover' src='images/redmart.jpeg' height='235' alt=''>
                    <span class='d-inline-block bg-secondary text-white fs-8 text-uppercase rounded-pill py-1 px-3 mt-3'>
                        ECommerce
                    </span>
                    <div class='fs-5 mt-3'>
                        RedMart
                    </div>
                    <div class='text-black-50 mt-1'>
                        RedMart is an online grocery marketplace. The retailer wants to reach out to potential customers making them convert with a first purchase.
                    </div>
                </div>
            </div>
            <div class='col-xl-12'>
                <div class='text-center'>
                    <a href="case-study" class="d-inline-block bg-black text-yellow text-decoration-none rounded py-3 px-4 mt-5">
                        DISCOVER MORE
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>