<div class='clients mt-100'>
    <div class='title-primary'>
        <div class='border-top border-black bebas-font fs-5'>
            <div class='container-fluid px-xl-5'>
                <div class='row'>
                    <div class='col-1'>
                        01
                    </div>
                    <div class='col-11'>
                        WE ACHIEVE SUPERIOR OUTCOMES FOR OUR CLIENTS
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="client-slider mt-5">
        <div><img src="images/clients/File1.webp" alt=""></div>
        <div><img src="images/clients/File2.webp" alt=""></div>
        <div><img src="images/clients/File3.webp" alt=""></div>
        <div><img src="images/clients/File4.webp" alt=""></div>
        <div><img src="images/clients/File5.webp" alt=""></div>
        <div><img src="images/clients/File6.webp" alt=""></div>
        <div><img src="images/clients/File7.webp" alt=""></div>
        <div><img src="images/clients/File8.webp" alt=""></div>
        <div><img src="images/clients/File9.webp" alt=""></div>
        <div><img src="images/clients/File10.webp" alt=""></div>
        <div><img src="images/clients/File11.webp" alt=""></div>
        <div><img src="images/clients/File12.webp" alt=""></div>
        <div><img src="images/clients/File13.webp" alt=""></div>
        <div><img src="images/clients/File14.webp" alt=""></div>
        <div><img src="images/clients/File15.webp" alt=""></div>
        <div><img src="images/clients/File16.webp" alt=""></div>
        <div><img src="images/clients/File17.webp" alt=""></div>
        <div><img src="images/clients/File18.webp" alt=""></div>
        <div><img src="images/clients/File19.webp" alt=""></div>
        <div><img src="images/clients/File20.webp" alt=""></div>
        <div><img src="images/clients/File21.webp" alt=""></div>
        <div><img src="images/clients/File22.webp" alt=""></div>
        <div><img src="images/clients/File23.webp" alt=""></div>
        <div><img src="images/clients/File24.webp" alt=""></div>
        <div><img src="images/clients/File25.webp" alt=""></div>
    </div>
</div>