<div class='feedback-client mt-100'>
    <div class='title-primary'>
        <div class='mb-3'>
            <div class='container-fluid px-xl-5'>
                <div class='row'>
                    <div class='col-12 col-xl-6'>
                        <div class='bebas-font fs-50 lh-1'>
                            We go the extra
                            <br class="d-none d-xl-block">
                            mile for our clients
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='border-top border-black bebas-font fs-5 pt-2'>
            <div class='container-fluid px-xl-5'>
                <div class='row'>
                    <div class='col-1'>
                        04
                    </div>
                    <div class='col-11'>
                        WHAT OUR CLIENTS SAY
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class='container-fluid px-xl-5'>
        <div class='row'>
            <div class='col-xl-12'>
                <div class='bg-body-secondary rounded-5 p-5 mt-5'>
                    <div class="feedback-slider">
                        <div>
                            <div class='row'>
                                <div class='col-xl-4'>
                                    <p><img src="images/fb2.png" width='120' alt=""></p>
                                    <p class='m-0 fs-7'>
                                        Julia Müller
                                        <br>
                                        <span class='text-black-50'>
                                            NEW DISTRIBUTION PARTNER MANAGER, BARCLAYCARD
                                        </span>
                                    </p>
                                </div>
                                <div class='col-xl-8'>
                                    <div class='d-flex gap-3 lh-lg'>
                                        <i class="bi bi-quote fs-50 lh-1"></i>
                                        Audience Serv was our first choice to revive the classic online channel
                                        Email Marketing after several years of stagnation at Barclaycard.
                                        Barclaycard profited heavily from the technological innovations as well
                                        as the outstanding and transparent campaign management from
                                        Audience Serv. A quick and straightforward support and approval
                                        process made it easy to optimize key points during the campaigns. Also,
                                        data protection requests have been dealt with quickly and were always
                                        compliant with our internal data protection policy. Our expectations of
                                        the collaboration with Audience Serv and especially the results and KPIs
                                        of the campaigns have been greatly exceeded - therefore we are happy
                                        to continue working with Audience Serv in the future.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class='row'>
                                <div class='col-xl-4'>
                                    <p><img src="images/fb1.png" width='120' alt=""></p>
                                    <p class='m-0 fs-7'>
                                        Yanhuang Lu
                                        <br>
                                        <span class='text-black-50'>Acquisition & Performance Marketing Manager, Redmart</span>
                                    </p>
                                </div>
                                <div class='col-xl-8'>
                                    <div class='d-flex gap-3 lh-lg'>
                                        <i class="bi bi-quote fs-50 lh-1"></i>
                                        Working with Audience Serv has been lucrative and
                                        successful for Redmart Limited. The team is very
                                        dedicated, easy to work with and up to date with the
                                        latest trends in digital marketing.
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div>
                            <div class='row'>
                                <div class='col-xl-4'>
                                    <p><img src="images/fb3.png" width='120' alt=""></p>
                                    <p class='m-0 fs-7'>
                                        Constanze Crull
                                        <br>
                                        <span class='text-black-50'>
                                            Online Marketing Manager, Eterna
                                        </span>
                                    </p>
                                </div>
                                <div class='col-xl-8'>
                                    <div class='d-flex gap-3 lh-lg'>
                                        <i class="bi bi-quote fs-50 lh-1"></i>
                                        We made very good experiences with Audience Serv
                                        and have already run several campaigns with the international
                                        targeting specialist.
                                        We are convinced by the great results of the campaigns and the
                                        competent team. The entire process is designed to be very
                                        transparent. This way, you are always informed about the
                                        status and the KPIs of the campaign. We benefited from the
                                        quality of customer service right from the planning stage,
                                        because our contact person was able to help us with valuable
                                        tips to make our campaigns a success.
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>