<div class='growth-support mt-100'>
    <div class='title-primary'>
        <div class='mb-3'>
            <div class='container-fluid px-xl-5'>
                <div class='row'>
                    <div class='col-12 col-xl-6'>
                        <div class='bebas-font fs-50 lh-1'>
                            We're here to help
                            <br class="d-none d-xl-block">
                            your business grow
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='border-top border-secondary-subtle bebas-font fs-5 pt-2'>
            <div class='container-fluid px-xl-5'>
                <div class='row'>
                    <div class='col-1'>
                        06
                    </div>
                    <div class='col-11'>
                        WE ARE A PASSIONATE AND EXPERIENCED TEAM OF 100+ AUDIENCE EXPERTS
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class='container-fluid px-xl-5'>
        <div class='row'>
            <div class='col-xl-3 text-justify mt-5'>
                <p>
                    We believe that to achieve superior outcomes for our clients, having the right people is the key to
                    success.
                </p>
                <p>
                    We are always looking for ways to get better at what we do, so if you are also focused on continuous
                    professional improvement, we would love to hear from you.
                </p>
                <a href="https://audienceserv.bamboohr.com/careers/" target='_blank' class="d-inline-block bg-yellow text-black text-decoration-none rounded py-3 px-4">
                    JOIN OUR TEAM
                </a>
            </div>
            <div class='col-xl-1'></div>
            <div class='col-xl-8'>
                <div class='directors-slider mt-5'>
                    <div>
                        <img class='rounded-4' src="images/1.png" alt="">
                        <div class='fs-5 mt-3'>
                            Ilja de Boer
                        </div>
                        <div class='text-white-50 mt-1'>
                            CEO - Managing Director
                        </div>
                    </div>
                    <div>
                        <img class='rounded-4' src="images/3.png" alt="">
                        <div class='fs-5 mt-3'>
                            Carlo Biondo
                        </div>
                        <div class='text-white-50 mt-1'>
                            COO
                        </div>
                    </div>
                    <div>
                        <img class='rounded-4' src="images/2.png" alt="">
                        <div class='fs-5 mt-3'>
                            Ninh Le Hai
                        </div>
                        <div class='text-white-50 mt-1'>
                            Regional Director - Hanoi Office
                        </div>
                    </div>
                    <div>
                        <img class='rounded-4' src="images/5.jpeg" alt="">
                        <div class='fs-5 mt-3'>
                            Hau Nguyen Thi
                        </div>
                        <div class='text-white-50 mt-1'>
                            Global Finance Manager
                        </div>
                    </div>
                    <div>
                        <img class='rounded-4' src="images/4.png" alt="">
                        <div class='fs-5 mt-3'>
                            Ines Valverde
                        </div>
                        <div class='text-white-50 mt-1'>
                            VP Global Sales
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>