<div class='solutions mt-100'>
    <div class='title-primary'>
        <div class='mb-3'>
            <div class='container-fluid px-xl-5'>
                <div class='row'>
                    <div class='col-12 col-xl-6'>
                        <div class='bebas-font fs-50 lh-1'>
                            Level up your
                            <br class="d-none d-xl-block">
                            email campaigns
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='border-top border-black bebas-font fs-5 pt-2'>
            <div class='container-fluid px-xl-5'>
                <div class='row'>
                    <div class='col-1'>
                        02
                    </div>
                    <div class='col-11'>
                        AUDIENCE SERV HAS BEEN HELPING COMPANIES ACQUIRE NEW CUSTOMERS SINCE 2008
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class='container-fluid px-xl-5'>
        <div class='row'>
            <div class='col-xl-3 text-justify mt-5'>
                <p>
                    By using smart, data-driven email marketing solutions, we help our clients to increase their
                    customer base. Our approach drives highly targeted users using techniques from machine learning
                    and
                    artificial intelligence.
                </p>
                <p>
                    We made it our mission to help companies drive traffic, sales, and growth.
                </p>
            </div>
            <div class='col-xl-1'></div>
            <div class='col-xl-6'>
                <div class='row items row-gap-4 mt-5'>
                    <div class='col-xl-6'>
                        <div class='item rounded-4 p-4 d-flex flex-column justify-content-between'>
                            <i class="bi bi-send-fill fs-2"></i>
                            <div class='bebas-font fs-2 lh-1'>
                                Data-Driven
                                <br>
                                Email Marketing
                            </div>
                        </div>
                    </div>
                    <div class='col-xl-6'>
                        <div class='item bg-body-secondary rounded-4 p-4 d-flex flex-column justify-content-between'>
                            <i class="bi bi-rocket-takeoff-fill fs-2"></i>
                            <div class='bebas-font fs-2 lh-1'>
                                LiveSend
                            </div>
                        </div>
                    </div>
                    <div class='col-xl-6'>
                        <div class='item bg-body-secondary rounded-4 p-4 d-flex flex-column justify-content-between'>
                            <i class="bi bi-gem fs-2"></i>
                            <div class='bebas-font fs-2 lh-1'>
                                Email Template
                                <br>
                                Creation
                            </div>
                        </div>
                    </div>
                    <div class='col-xl-6'>
                        <div class='item p-4 d-flex flex-column justify-content-center align-items-start'>
                            <div class='bebas-font fs-2 lh-1'>
                                WE TAKE PRIDE
                                IN CREATING
                                SUCCESS
                                STORIES
                            </div>
                            <a href="solutions"
                               class="d-inline-block bg-black text-yellow text-decoration-none rounded py-3 px-4 mt-3">
                                GET STARTED
                            </a>
                        </div>
                    </div>
                </div>
            </div>
            <div class='col-xl-2'></div>
        </div>
    </div>
</div>
