<div class='why-choose-us mt-100'>
    <div class='title-primary'>
        <div class='mb-3'>
            <div class='container-fluid px-xl-5'>
                <div class='row'>
                    <div class='col-12 col-xl-6'>
                        <div class='bebas-font fs-50 lh-1'>
                            Why choose us?
                        </div>
                        <div class='mt-2'>
                            An honest and transparent approach is integral to the long-term relationships we build with
                            our clients. By taking the time to truly understand your business and its objectives, we
                            will identify the solutions you need to achieve your marketing goals.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='border-top border-black bebas-font fs-5 pt-2'>
            <div class='container-fluid px-xl-5'>
                <div class='row'>
                    <div class='col-1'>
                        03
                    </div>
                    <div class='col-11'>
                        AUDIENCE SERV HAS BEEN HELPING COMPANIES ACQUIRE NEW CUSTOMERS SINCE 2008
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class='container-fluid px-xl-5'>
        <div class='row'>
            <div class='col-xl-4'>
                <div class='pt-5 h-100'>
                    <img class='rounded-5 object-fit-cover h-100' src="images/party.png" alt="">
                </div>

            </div>
            <div class='col-xl-1'></div>
            <div class='col-xl-7'>
                <div class='mt-5 pb-5 border-bottom border-dark-subtle'>
                    <div class='row'>
                        <div class='col-2 col-xl-2'>
                            <div class='numerical-order'>
                                01/
                            </div>
                        </div>
                        <div class='col-10 col-xl-4'>
                            <div class='bebas-font lh-1 fs-2'>
                                WE ARE
                                <br>
                                PASSIONATE
                            </div>
                        </div>
                        <div class='col-2 col-xl-2'>
                            <i class="bi bi-box-arrow-up-right fs-3 d-none d-xl-block"></i>
                        </div>
                        <div class='col-10 col-xl-4'>
                            <div class='text-black-50'>
                                We at Audience Serv are passionate for new customer acquisition.
                            </div>
                        </div>
                    </div>
                </div>
                <div class='mt-5 pb-5 border-bottom border-dark-subtle'>
                    <div class='row'>
                        <div class='col-2 col-xl-2'>
                            <div class='numerical-order'>
                                02/
                            </div>
                        </div>
                        <div class='col-10 col-xl-4'>
                            <div class='bebas-font lh-1 fs-2'>
                                WE ARE
                                <br>
                                UNIQUE
                            </div>
                        </div>
                        <div class='col-2 col-xl-2'>
                            <i class="bi bi-box-arrow-up-right fs-3 d-none d-xl-block"></i>
                        </div>
                        <div class='col-10 col-xl-4'>
                            <div class='text-black-50'>
                                With proprietary algorithms, we deliver your online campaigns programmatically in order
                                to meet and exceed marketing goals.
                            </div>
                        </div>
                    </div>
                </div>
                <div class='mt-5 pb-5 border-bottom border-dark-subtle'>
                    <div class='row'>
                        <div class='col-2 col-xl-2'>
                            <div class='numerical-order'>
                                03/
                            </div>
                        </div>
                        <div class='col-10 col-xl-4'>
                            <div class='bebas-font lh-1 fs-2'>
                                WE ARE A
                                <br>
                                GLOBAL PLAYER
                            </div>
                        </div>
                        <div class='col-2 col-xl-2'>
                            <i class="bi bi-box-arrow-up-right fs-3 d-none d-xl-block"></i>
                        </div>
                        <div class='col-10 col-xl-4'>
                            <div class='text-black-50'>
                                Audience Serv is active in more than 20 countries in Europe, America, Asia, and Oceania.
                            </div>
                        </div>
                    </div>
                </div>
                <div class='mt-5 pb-5 border-bottom border-dark-subtle'>
                    <div class='row'>
                        <div class='col-2 col-xl-2'>
                            <div class='numerical-order'>
                                04/
                            </div>
                        </div>
                        <div class='col-10 col-xl-4'>
                            <div class='bebas-font lh-1 fs-2'>
                                WE ARE
                                <br>
                                COMPREHENSIVE
                            </div>
                        </div>
                        <div class='col-2 col-xl-2'>
                            <i class="bi bi-box-arrow-up-right fs-3 d-none d-xl-block"></i>
                        </div>
                        <div class='col-10 col-xl-4'>
                            <div class='text-black-50'>
                                Our database contains more than 130 million opt-in user data worldwide. We are thus
                                ideally positioned for every campaign.
                            </div>
                        </div>
                    </div>
                </div>
                <div class='mt-5 pb-5 border-bottom border-dark-subtle'>
                    <div class='row'>
                        <div class='col-2 col-xl-2'>
                            <div class='numerical-order'>
                                05/
                            </div>
                        </div>
                        <div class='col-10 col-xl-4'>
                            <div class='bebas-font lh-1 fs-2'>
                                WE ARE
                                <br>
                                CONFIDENT
                            </div>
                        </div>
                        <div class='col-2 col-xl-2'>
                            <i class="bi bi-box-arrow-up-right fs-3 d-none d-xl-block"></i>
                        </div>
                        <div class='col-10 col-xl-4'>
                            <div class='text-black-50'>
                                Our expertise makes campaigns more successful. With an experienced team of over 100
                                Audience experts, we are able to take your marketing strategy to the next level.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>