<div class='your-design mt-100 text-white'>
    <div class='title-primary'>
        <div class='mb-3'>
            <div class='container-fluid px-xl-5'>
                <div class='row'>
                    <div class='col-12 col-xl-6'>
                        <div class='bebas-font fs-50 lh-1'>
                            Choose your design
                        </div>
                        <div class='mt-2'>
                            Our Audience Experts know how to create and optimize the ideal email template to boost your
                            conversion rate.
                            <br>
                            Choose the most suitable design package for your business.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='border-top border-secondary-subtle bebas-font fs-5 pt-2'>
            <div class='container-fluid px-xl-5'>
                <div class='row'>
                    <div class='col-1'>
                        02
                    </div>
                    <div class='col-11'>
                        SIMPLY GIVE US A BRIEF AND WE'LL DO THE REST!
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class='container-fluid px-xl-5'>
        <div class='row'>
            <div class='col-xl-3'>
                <div class="tab-title nav flex-column me-3 mt-5">
                    <button class="text-start m-0 py-1 px-0 mb-4 text-white nav-link active" data-bs-toggle="pill"
                            data-bs-target="#Expert"
                            type="button">Expert Package
                    </button>
                    <button class="text-start m-0 py-1 px-0 mb-4 text-white nav-link" data-bs-toggle="pill"
                            data-bs-target="#Advanced"
                            type="button">Advanced Package
                    </button>
                    <button class="text-start m-0 py-1 px-0 mb-4 text-white nav-link" data-bs-toggle="pill"
                            data-bs-target="#Professional"
                            type="button">Professional Package
                    </button>
                    <div>
                        <a href="" class="d-inline-block bg-yellow text-black text-decoration-none rounded py-3 px-4">
                            GET STARTED
                        </a>
                    </div>
                </div>
            </div>
            <div class='col-xl-8'>
                <div class="tab-content mt-5 border-start border-secondary-subtle p-3">
                    <div class="tab-pane fade show active" id="Expert" role="tabpanel"
                         tabindex="0">
                        <div class='row align-items-center'>
                            <div class='col-xl-6'>
                                <div class='text-center mb-5 mb-xl-0'>
                                    <img src="images/image25.png" alt="">
                                </div>
                            </div>
                            <div class='col-xl-6'>
                                <p class="bebas-font lh-1 fs-2">
                                    Expert Package
                                </p>
                                <p>
                                    Let our team create a unique and responsive template from the ground up that meets
                                    your requirements.
                                </p>
                                <p class='d-flex align-items-center gap-3'>
                                    <span><i class='bi bi-arrow-right custom-icon text-black'></i></span>
                                    Unique design in line with your brand
                                </p>
                                <p class='d-flex align-items-center gap-3'>
                                    <span><i class='bi bi-arrow-right custom-icon text-black'></i></span>
                                    Responsive for mobile and tablet
                                </p>
                                <p class='d-flex align-items-center gap-3'>
                                    <span><i class='bi bi-arrow-right custom-icon text-black'></i></span>
                                    Inventive content
                                </p>
                                <p class='d-flex align-items-center gap-3'>
                                    <span><i class='bi bi-arrow-right custom-icon text-black'></i></span>
                                    Tested across devices as well as on the Litmus.com platform
                                </p>
                                <p class='d-flex align-items-center gap-3'>
                                    <span><i class='bi bi-arrow-right custom-icon text-black'></i></span>
                                    Re-Usable for your own sendouts
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="Advanced" role="tabpanel"
                         tabindex="0">
                        <div class='row align-items-center'>
                            <div class='col-xl-6'>
                                <div class='text-center mb-5 mb-xl-0'>
                                    <img src="images/image25.png" alt="">
                                </div>
                            </div>
                            <div class='col-xl-6'>
                                <p class="bebas-font lh-1 fs-2">
                                    Advanced Package
                                </p>
                                <p>
                                    Select one of our pre-designed email templates, and we will customize it to match
                                    the look and feel of your company's brand. Content research and creation, including
                                    pictures and text, will be done by our team.
                                </p>
                                <p class='d-flex align-items-center gap-3'>
                                    <span><i class='bi bi-arrow-right custom-icon text-black'></i></span>
                                    Choose from 3 tested conversion-centered designs
                                </p>
                                <p class='d-flex align-items-center gap-3'>
                                    <span><i class='bi bi-arrow-right custom-icon text-black'></i></span>
                                    Responsive for mobile and tablet
                                </p>
                                <p class='d-flex align-items-center gap-3'>
                                    <span><i class='bi bi-arrow-right custom-icon text-black'></i></span>
                                    Inventive content
                                </p>
                                <p class='d-flex align-items-center gap-3'>
                                    <span><i class='bi bi-arrow-right custom-icon text-black'></i></span>
                                    Polyvalent and suitable for all businesses
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="Professional" role="tabpanel"
                         tabindex="0">
                        <div class='row align-items-center'>
                            <div class='col-xl-6'>
                                <div class='text-center mb-5 mb-xl-0'>
                                    <img src="images/image27.png" alt="">
                                </div>
                            </div>
                            <div class='col-xl-6'>
                                <p class="bebas-font lh-1 fs-2">
                                    Professional Package
                                </p>
                                <p>
                                    Choose from our tested conversion-centered designs, and we will adjust the colors to
                                    fit your brand, and add pictures and text you provide us.
                                </p>
                                <p class='d-flex align-items-center gap-3'>
                                    <span><i class='bi bi-arrow-right custom-icon text-black'></i></span>
                                    Choose from 3 tested conversion-centered
                                </p>
                                <p class='d-flex align-items-center gap-3'>
                                    <span><i class='bi bi-arrow-right custom-icon text-black'></i></span>
                                    Responsive for mobile and tablet
                                </p>
                                <p class='d-flex align-items-center gap-3'>
                                    <span><i class='bi bi-arrow-right custom-icon text-black'></i></span>
                                    Inventive content
                                </p>
                                <p class='d-flex align-items-center gap-3'>
                                    <span><i class='bi bi-arrow-right custom-icon text-black'></i></span>
                                    Polyvalent and suitable for all businesses
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>