<div class='your-package mt-100'>
    <div class='title-primary'>
        <div class='mb-3'>
            <div class='container-fluid px-xl-5'>
                <div class='row'>
                    <div class='col-12 col-xl-6'>
                        <div class='bebas-font fs-50 lh-1'>
                            Choose Your Package
                        </div>
                        <div class='mt-2'>
                            A good email template is important for your marketing but designing and building a template
                            from scratch can be a very time-intensive process. Let us save you hours of precious time
                            with our template creation services.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='border-top border-black bebas-font fs-5 pt-2'>
            <div class='container-fluid px-xl-5'>
                <div class='row'>
                    <div class='col-1'>
                        01
                    </div>
                    <div class='col-11'>
                        PACKAGES OVERVIEW
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class='container-fluid px-xl-5'>
        <div class='row'>
            <div class='col-xl-5'>
                <div class='text-center mt-5'>
                    <img src="images/image24.png" alt="">
                </div>
            </div>
            <div class='col-xl-7'>
                <div class='mt-5 pb-5 border-bottom border-dark-subtle'>
                    <div class="row">
                        <div class="col-xl-1">
                            <div class='fs-5 mb-3'>01/</div>
                        </div>
                        <div class="col-xl-3">
                            <div class="bebas-font lh-1 fs-2">
                                PROFESSIONAL
                            </div>
                        </div>
                        <div class="col-xl-1">
                            <div class='d-none d-xl-block'>
                                <i class="bi bi-arrow-up-right fs-5"></i>
                            </div>
                        </div>
                        <div class="col-xl-7">
                            <p class="text-black-50">
                                Pre-Designed Layout delivered within 2 business days.
                            </p>
                            <div>
                                <span class='d-inline-block border border-secondary-subtle rounded-pill fs-8 py-1 px-3 mb-2'>GENDER</span>
                                <span class='d-inline-block border border-secondary-subtle rounded-pill fs-8 py-1 px-3 mb-2'>AGE</span>
                                <span class='d-inline-block border border-secondary-subtle rounded-pill fs-8 py-1 px-3 mb-2'>ADORESS</span>
                                <span class='d-inline-block border border-secondary-subtle rounded-pill fs-8 py-1 px-3 mb-2'>INTERESTS</span>
                                <span class='d-inline-block border border-secondary-subtle rounded-pill fs-8 py-1 px-3 mb-2'>PURCHASE</span>
                                <span class='d-inline-block border border-secondary-subtle rounded-pill fs-8 py-1 px-3 mb-2'>INCOME</span>
                                <span class='d-inline-block border border-secondary-subtle rounded-pill fs-8 py-1 px-3 mb-2'>ZIPCODE</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='mt-5 pb-5 border-bottom border-dark-subtle'>
                    <div class="row">
                        <div class="col-xl-1">
                            <div class='fs-5 mb-3'>02/</div>
                        </div>
                        <div class="col-xl-3">
                            <div class="bebas-font lh-1 fs-2">
                                ADVANCED
                            </div>
                        </div>
                        <div class="col-xl-1">
                            <div class='d-none d-xl-block'>
                                <i class="bi bi-arrow-up-right fs-5"></i>
                            </div>
                        </div>
                        <div class="col-xl-7">
                            <p class="text-black-50">
                                Pre-Designed Layout delivered within 4 business days.
                            </p>
                            <div>
                                <span class='d-inline-block border border-secondary-subtle rounded-pill fs-8 py-1 px-3 mb-2'>GENDER</span>
                                <span class='d-inline-block border border-secondary-subtle rounded-pill fs-8 py-1 px-3 mb-2'>AGE</span>
                                <span class='d-inline-block border border-secondary-subtle rounded-pill fs-8 py-1 px-3 mb-2'>ADORESS</span>
                                <span class='d-inline-block border border-secondary-subtle rounded-pill fs-8 py-1 px-3 mb-2'>INTERESTS</span>
                                <span class='d-inline-block border border-secondary-subtle rounded-pill fs-8 py-1 px-3 mb-2'>PURCHASE</span>
                                <span class='d-inline-block border border-secondary-subtle rounded-pill fs-8 py-1 px-3 mb-2'>INCOME</span>
                                <span class='d-inline-block border border-secondary-subtle rounded-pill fs-8 py-1 px-3 mb-2'>ZIPCODE</span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class='mt-5 pb-5 border-bottom border-dark-subtle'>
                    <div class="row">
                        <div class="col-xl-1">
                            <div class='fs-5 mb-3'>03/</div>
                        </div>
                        <div class="col-xl-3">
                            <div class="bebas-font lh-1 fs-2">
                                EXPERT
                            </div>
                        </div>
                        <div class="col-xl-1">
                            <div class='d-none d-xl-block'>
                                <i class="bi bi-arrow-up-right fs-5"></i>
                            </div>
                        </div>
                        <div class="col-xl-7">
                            <p class="text-black-50">
                                Tailor-made Layout delivered within 6 business days.
                            </p>
                            <div>
                                <span class='d-inline-block border border-secondary-subtle rounded-pill fs-8 py-1 px-3 mb-2'>GENDER</span>
                                <span class='d-inline-block border border-secondary-subtle rounded-pill fs-8 py-1 px-3 mb-2'>AGE</span>
                                <span class='d-inline-block border border-secondary-subtle rounded-pill fs-8 py-1 px-3 mb-2'>ADORESS</span>
                                <span class='d-inline-block border border-secondary-subtle rounded-pill fs-8 py-1 px-3 mb-2'>INTERESTS</span>
                                <span class='d-inline-block border border-secondary-subtle rounded-pill fs-8 py-1 px-3 mb-2'>PURCHASE</span>
                                <span class='d-inline-block border border-secondary-subtle rounded-pill fs-8 py-1 px-3 mb-2'>INCOME</span>
                                <span class='d-inline-block border border-secondary-subtle rounded-pill fs-8 py-1 px-3 mb-2'>ZIPCODE</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>