<div class='case-studies mt-100'>
    <div class='title-primary'>
        <div class='mb-3'>
            <div class='container-fluid px-xl-5'>
                <div class='row'>
                    <div class='col-12 col-xl-6'>
                        <div class='bebas-font fs-50 lh-1'>
                            Clients
                            <br class="d-none d-xl-block">
                            & Case Studies
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='border-top border-black bebas-font fs-5 pt-2'>
            <div class='container-fluid px-xl-5'>
                <div class='row'>
                    <div class='col-1'>
                        01
                    </div>
                    <div class='col-11'>
                        A FEW OF OUR KEY CLIENTS
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class='container-fluid px-xl-5'>
        <div class='row'>
            <div class='col-xl-12'>
                <div class='items gap-5 mt-5'>
                    <div class='item bg-white rounded-4 p-4 mb-5'>
                        <p class='text-center'>
                            <img src="images/06.png" class='w-50' alt="">
                        </p>
                        <p class='bebas-font fs-4'>
                            Benefits & Process
                        </p>
                        <p class='text-black-50'>
                            A case study is a research method that is used to
                            describe and analyze a specific case.
                        </p>
                        <p class='text-black-50 mb-0'>
                            We use case studies to provide detailed information about
                            our products and to inform interested parties what our
                            solutions can look like in reality. We are guided by the initial
                            situation and the goals of the customer. Based on the
                            actual campaign results, we go into the course of the
                            campaign, show exemplary templates of the customer and
                            analyze the results.
                        </p>
                        <div class='text-black mt-3 bebas-font fs-4'>
                            see case study:
                        </div>
                        <div>
                            <span class="badge rounded-pill text-bg-secondary">
                                <a href='https://cdn-as.s3.ap-southeast-1.amazonaws.com/case-studies/Audience+Serv_case+study+benefits_EN.pdf'
                                   class='text-white text-decoration-none' target='_blank'>
                                    EN
                                </a>
                            </span>
                            <span class="badge rounded-pill text-bg-secondary">
                                <a href='https://cdn-as.s3.ap-southeast-1.amazonaws.com/case-studies/Audience+Serv_case+study+benefits_DE.pdf'
                                   class='text-white text-decoration-none' target='_blank'>
                                    DE
                                </a>
                            </span>
                        </div>
                    </div>
                    <div class='item bg-white rounded-4 p-4 mb-5'>
                        <p class='text-center'>
                            <img src="images/05.png" class='w-50' alt="">
                        </p>
                        <p class='bebas-font fs-4'>
                            Telecommunication
                        </p>
                        <p class='text-black-50'>
                            Vodafone is a leading telecommunications company
                            that offers voice, messaging, and data services
                            across fixed and mobile networks.

                        </p>
                        <p class='text-black-50 mb-0'>
                            The company was looking for an effective
                            solution to generate more contract sign-ups at
                            fair costs and increase brand awareness.
                        </p>
                        <div class='text-black mt-3 bebas-font fs-4'>
                            see case study:
                        </div>
                        <div>
                            <span class="badge rounded-pill text-bg-secondary">
                                <a href='https://cdn-as.s3.ap-southeast-1.amazonaws.com/case-studies/Audience_Serv_Telecommunication_ENG.pdf'
                                   class='text-white text-decoration-none' target='_blank'>
                                    EN
                                </a>
                            </span>
                        </div>
                    </div>
                    <div class='item bg-white rounded-4 p-4 mb-5'>
                        <p class='text-center'>
                            <img src="images/03.png" class='w-50' alt="">
                        </p>
                        <p class='bebas-font fs-4'>
                            ECommerce
                        </p>
                        <p class='text-black-50 mb-0'>
                            RedMart is an online grocery marketplace. The retailer
                            wants to reach out to potential customers making
                            them convert with a first purchase.
                        </p>
                        <div class='text-black mt-3 bebas-font fs-4'>
                            see case study:
                        </div>
                        <div>
                            <span class="badge rounded-pill text-bg-secondary">
                                <a href='https://cdn-as.s3.ap-southeast-1.amazonaws.com/case-studies/Case+Study_EDM_Audience+Serv+%26+Redmart_ENG.pdf'
                                   class='text-white text-decoration-none' target='_blank'>
                                    EN
                                </a>
                            </span>
                        </div>
                    </div>
                    <div class='item bg-white rounded-4 p-4 mb-5'>
                        <p class='text-center'>
                            <img src="images/04.png" class='w-50' alt="">
                        </p>
                        <p class='bebas-font fs-4'>
                            Electronics
                        </p>
                        <p class='text-black-50'>
                            HP is a multinational information technology company that
                            sells PCs and other computing devices, software and related
                            business services.
                        </p>
                        <p class='text-black-50 mb-0'>
                            HP was looking for an effective solution to target the
                            right audience in a GDPR-compliant manner in order
                            to generate more sales while winning new customers.
                        </p>
                        <div class='text-black mt-3 bebas-font fs-4'>
                            see case study:
                        </div>
                        <div>
                            <span class="badge rounded-pill text-bg-secondary">
                                <a href='https://cdn-as.s3.ap-southeast-1.amazonaws.com/case-studies/Audience_Serv_x_Electronics_ENG.pdf'
                                   class='text-white text-decoration-none' target='_blank'>
                                    EN
                                </a>
                            </span>
                        </div>
                    </div>
                    <div class='item bg-white rounded-4 p-4 mb-5'>
                        <p class='text-center'>
                            <img src="images/01.png" class='w-50' alt="">
                        </p>
                        <p class='bebas-font fs-4'>
                            Finance
                        </p>
                        <p class='text-black-50'>
                            Barclaycard was founded in 1966 as part of the Barclays
                            Group, one of the world’s leading banks. Today, the credit
                            card company counts 30 Mio customers and retailers around
                            the world.
                        </p>
                        <p class='text-black-50 mb-0'>
                            The company created Germany's first “Buy it now and pay
                            later” credit card with Barclaycard Visa. To promote this
                            innovative payment solution, Barclaycard is looking for a
                            trustworthy partner. With a german campaign, the company
                            aims to generate a high volume of qualified leads.
                        </p>
                        <div class='text-black mt-3 bebas-font fs-4'>
                            see case study:
                        </div>
                        <div>
                            <span class="badge rounded-pill text-bg-secondary">
                                <a href='https://cdn-as.s3.ap-southeast-1.amazonaws.com/case-studies/Case+Study_LiveSend_Audience+Serv+%26+BarclayCard_ENG.pdf'
                                   class='text-white text-decoration-none' target='_blank'>
                                    EN
                                </a>
                            </span>
                            <span class="badge rounded-pill text-bg-secondary">
                                <a href='https://cdn-as.s3.ap-southeast-1.amazonaws.com/case-studies/Case+Study_LiveSend_Audience+Serv+%26+BarclayCard_GER.pdf'
                                   class='text-white text-decoration-none' target='_blank'>
                                    DE
                                </a>
                            </span>
                            <span class="badge rounded-pill text-bg-secondary">
                                <a href='https://cdn-as.s3.ap-southeast-1.amazonaws.com/case-studies/Case+Study_LiveSend_Audience+Serv+%26+BarclayCard_ES.pdf'
                                   class='text-white text-decoration-none' target='_blank'>
                                    ES
                                </a>
                            </span>
                            <span class="badge rounded-pill text-bg-secondary">
                                <a href='https://cdn-as.s3.ap-southeast-1.amazonaws.com/case-studies/Case+Study_LiveSend_Audience+Serv+%26+BarclayCard_IT.pdf'
                                   class='text-white text-decoration-none' target='_blank'>
                                    IT
                                </a>
                            </span>
                        </div>
                    </div>
                    <div class='item bg-white rounded-4 p-4 mb-5'>
                        <p class='text-center'>
                            <img src="images/02.png" class='w-50' alt="">
                        </p>
                        <p class='bebas-font fs-4'>
                            Fashion
                        </p>
                        <p class='text-black-50'>
                            As a leading fashion manufacturer, ETERNA has
                            relied on responsible and high-quality fashion since
                            1863. In 2019 the company achieved 106 million
                            euros in revenue in more than 40 countries.
                        </p>
                        <p class='text-black-50 mb-0'>
                            The company aims to take the top position in Europe.
                            To drive company growth, ETERNA wants to gain new
                            leads and increase sales. For this purpose, ETERNA is
                            looking for a trustworthy partner to scale customer
                            acquisition.
                        </p>
                        <div class='text-black mt-3 bebas-font fs-4'>
                            see case study:
                        </div>
                        <div>
                            <span class="badge rounded-pill text-bg-secondary">
                                <a href='https://cdn-as.s3.ap-southeast-1.amazonaws.com/case-studies/Case+Study_EDM_Audience+Serv+%26+Eterna_ENG.pdf'
                                   class='text-white text-decoration-none' target='_blank'>
                                    EN
                                </a>
                            </span>
                            <span class="badge rounded-pill text-bg-secondary">
                                <a href='https://cdn-as.s3.ap-southeast-1.amazonaws.com/case-studies/Case+Study_EDM_Audience+Serv+_+Eterna_GER.pdf'
                                   class='text-white text-decoration-none' target='_blank'>
                                    DE
                                </a>
                            </span>
                            <span class="badge rounded-pill text-bg-secondary">
                                <a href='https://cdn-as.s3.ap-southeast-1.amazonaws.com/case-studies/Case+Study_EDM_Audience+Serv+%26+Eterna_ES.pdf'
                                   class='text-white text-decoration-none' target='_blank'>
                                    ES
                                </a>
                            </span>
                            <span class="badge rounded-pill text-bg-secondary">
                                <a href='https://cdn-as.s3.ap-southeast-1.amazonaws.com/case-studies/Case+Study_EDM_Audience+Serv+%26+Eterna_IT.pdf'
                                   class='text-white text-decoration-none' target='_blank'>
                                    IT
                                </a>
                            </span>
                            <span class="badge rounded-pill text-bg-secondary">
                                <a href='https://cdn-as.s3.ap-southeast-1.amazonaws.com/case-studies/Case+Study_EDM_Audience+Serv+%26+Eterna_FR.pdf'
                                   class='text-white text-decoration-none' target='_blank'>
                                    FR
                                </a>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>