<div class='case-studies mt-100'>
    <div class='title-primary'>
        <div class='mb-3'>
            <div class='container-fluid px-xl-5'>
                <div class='row'>
                    <div class='col-12 col-xl-6'>
                        <div class='bebas-font fs-50 lh-1'>
                            Downloads
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='border-top border-black bebas-font fs-5 pt-2'>
            <div class='container-fluid px-xl-5'>
                <div class='row'>
                    <div class='col-1'>
                        02
                    </div>
                    <div class='col-11'>
                        WHITE PAPERS & RESOURCES
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class='container-fluid px-xl-5'>
        <div class='row'>
            <div class='col-xl-12'>
                <div class='items gap-5 mt-5'>
                    <div class='item bg-white rounded-4 p-4 mb-5'>
                        <p class='text-center'>
                            <img src="images/clients/File1.webp" class='w-50' alt="">
                        </p>
                        <p class='bebas-font fs-4'>
                            ECOMMERCE
                        </p>
                        <p class='text-black-50 mb-0'>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo fuga fugiat illum
                            incidunt perspiciatis quia quibusdam quisquam saepe sit tenetur.
                        </p>
                    </div>
                    <div class='item bg-white rounded-4 p-4 mb-5'>
                        <p class='text-center'>
                            <img src="images/clients/File2.webp" class='w-50' alt="">
                        </p>
                        <p class='bebas-font fs-4'>
                            ECOMMERCE
                        </p>
                        <p class='text-black-50 mb-0'>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium animi aperiam fuga hic
                            illo inventore magnam minima, officiis perferendis provident quaerat quas reprehenderit
                            suscipit tempore velit. Accusantium aliquam aperiam asperiores aut corporis debitis ducimus
                            ex fugiat impedit ipsum iure iusto minima minus modi neque nihil odio quaerat quas quibusdam
                            quidem quis reiciendis repellat repellendus saepe suscipit, temporibus ullam vitae.
                            Asperiores?
                        </p>
                    </div>
                    <div class='item bg-white rounded-4 p-4 mb-5'>
                        <p class='text-center'>
                            <img src="images/clients/File3.webp" class='w-50' alt="">
                        </p>
                        <p class='bebas-font fs-4'>
                            ECOMMERCE
                        </p>
                        <p class='text-black-50 mb-0'>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, labore, similique!
                            Aliquam atque cumque deleniti enim molestias nam perspiciatis porro sequi. Dolore harum
                            obcaecati ut vel vero. Beatae nam, non!
                        </p>
                    </div>
                    <div class='item bg-white rounded-4 p-4 mb-5'>
                        <p class='text-center'>
                            <img src="images/clients/File4.webp" class='w-50' alt="">
                        </p>
                        <p class='bebas-font fs-4'>
                            ECOMMERCE
                        </p>
                        <p class='text-black-50 mb-0'>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled it to make a type specimen book. It has survived not only five
                            centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                            It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                            passages, and more recently with desktop publishing software like Aldus PageMaker including
                            versions of Lorem Ipsum.
                        </p>
                        <a href='' class='d-flex text-black text-decoration-none mt-3 align-items-center gap-2'>
                            <span class='bebas-font fs-4'>
                                see case study
                            </span>
                            <i class="bi bi-arrow-up-right custom-icon"></i>
                        </a>
                    </div>

                    <div class='item bg-white rounded-4 p-4 mb-5'>
                        <p class='text-center'>
                            <img src="images/clients/File9.webp" class='w-50' alt="">
                        </p>
                        <p class='bebas-font fs-4'>
                            ECOMMERCE
                        </p>
                        <p class='text-black-50 mb-0'>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Explicabo fuga fugiat illum
                            incidunt perspiciatis quia quibusdam quisquam saepe sit tenetur.
                        </p>
                        <a href='' class='d-flex text-black text-decoration-none mt-3 align-items-center gap-2'>
                            <span class='bebas-font fs-4'>
                                see case study
                            </span>
                            <i class="bi bi-arrow-up-right custom-icon"></i>
                        </a>
                    </div>
                    <div class='item bg-white rounded-4 p-4 mb-5'>
                        <p class='text-center'>
                            <img src="images/clients/File10.webp" class='w-50' alt="">
                        </p>
                        <p class='bebas-font fs-4'>
                            ECOMMERCE
                        </p>
                        <p class='text-black-50 mb-0'>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium animi aperiam fuga hic
                            illo inventore magnam minima, officiis perferendis provident quaerat quas reprehenderit
                            suscipit tempore velit. Accusantium aliquam aperiam asperiores aut corporis debitis ducimus
                            ex fugiat impedit ipsum iure iusto minima minus modi neque nihil odio quaerat quas quibusdam
                            quidem quis reiciendis repellat repellendus saepe suscipit, temporibus ullam vitae.
                            Asperiores?
                        </p>
                    </div>
                    <div class='item bg-white rounded-4 p-4 mb-5'>
                        <p class='text-center'>
                            <img src="images/clients/File11.webp" class='w-50' alt="">
                        </p>
                        <p class='bebas-font fs-4'>
                            ECOMMERCE
                        </p>
                        <p class='text-black-50 mb-0'>
                            Lorem ipsum dolor sit amet, consectetur adipisicing elit. Doloremque, labore, similique!
                            Aliquam atque cumque deleniti enim molestias nam perspiciatis porro sequi. Dolore harum
                            obcaecati ut vel vero. Beatae nam, non!
                        </p>
                    </div>
                    <div class='item bg-white rounded-4 p-4 mb-5'>
                        <p class='text-center'>
                            <img src="images/clients/File12.webp" class='w-50' alt="">
                        </p>
                        <p class='bebas-font fs-4'>
                            ECOMMERCE
                        </p>
                        <p class='text-black-50 mb-0'>
                            Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has
                            been the industry's standard dummy text ever since the 1500s, when an unknown printer took a
                            galley of type and scrambled it to make a type specimen book. It has survived not only five
                            centuries, but also the leap into electronic typesetting, remaining essentially unchanged.
                            It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum
                            passages, and more recently with desktop publishing software like Aldus PageMaker including
                            versions of Lorem Ipsum.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>