<div id='banner' class='banner'>
    <div class='container'>
        <div class='row align-items-center'>
            <div class='col-xl-5'>
                <img src='images/global.png' alt=''>
            </div>
            <div class='col-xl-7 order-xl-first bebas-font text-white fs-120 lh-1'>
                LiveSend
            </div>
            <div class='col-xl-5'>
                <div class='text-white py-3 py-xl-0 text-justify'>
                    Email send-outs based on user behaviour through our ai algorithm. livesend takes the user experience
                    to a whole new level.
                </div>
            </div>
            <div class='col-xl-7'>
                <a href='' class='d-inline-block bg-yellow text-black text-decoration-none rounded py-3 px-4'>
                    LEARN MORE
                </a>
            </div>
        </div>
    </div>
</div>