<div class='case-study mt-100'>
    <div class='title-primary'>
        <div class='mb-3'>
            <div class='container-fluid px-xl-5'>
                <div class='row'>
                    <div class='col-12 col-xl-6'>
                        <div class='bebas-font fs-50 lh-1'>
                            case study
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='border-top border-black bebas-font fs-5 pt-2'>
            <div class='container-fluid px-xl-5'>
                <div class='row'>
                    <div class='col-1'>
                        03
                    </div>
                    <div class='col-11'>
                        CHECK OUT THE RESULTS WE DELIVERED TO BARCLAYCARD
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container-fluid px-xl-5">
        <div class="row">
            <div class="col-xl-3 text-justify mt-5">
                <i class="bi bi-chat-left-quote-fill fs-50 lh-1"></i>
                <p class='mt-3'>
                    Audience Serv was our first choice to revive the classic online channel "Email Marketing" after
                    several years of stagnation at Barclaycard. Our expectations of the collaboration with Audience Serv
                    and especially the results and KPis of the campaigns have been greatly exceeded.
                </p>
                <a href="" class="d-inline-block bg-yellow text-black text-decoration-none rounded py-3 px-4">
                    READ CASE STUDY
                </a>
            </div>
            <div class="col-xl-1"></div>
            <div class="col-xl-7">
                <div class='text-center mt-5'>
                    <img src="images/image16.png" alt="">
                </div>
            </div>
            <div class="col-xl-1"></div>
        </div>
    </div>
</div>