<div class='revolution mt-100'>
    <div class='title-primary'>
        <div class='mb-3'>
            <div class='container-fluid px-xl-5'>
                <div class='row'>
                    <div class='col-12 col-xl-6'>
                        <div class='bebas-font fs-50 lh-1'>
                            Welcome to the revolution
                        </div>
                        <div class='mt-2'>
                            Wouldn't it be perfect if target groups could be also segmented according to user behavior?
                            And if email campaigns could be sent individually to each user at optimized times,
                            historical behaviour and current interests. We are proud to introduce the new Email
                            Marketing solution that makes this dream come true: LiveSend.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='border-top border-black bebas-font fs-5 pt-2'>
            <div class='container-fluid px-xl-5'>
                <div class='row'>
                    <div class='col-1'>
                        01
                    </div>
                    <div class='col-11'>
                        THE LIVESEND POWERFUL ALGORITHM DELIVERS OUTSTANDING CAMPAIGN PERFORMANCES
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class='container-fluid px-xl-5'>
        <div class='row'>
            <div class='col-xl-5'>
                <div class='text-center mt-5'>
                    <img src="images/image11.png" alt="">
                </div>
            </div>
            <div class='col-xl-7'>
                <div class='mt-5 pb-5 border-bottom border-dark-subtle'>
                    <div class="row">
                        <div class="col-xl-2">
                            <span class='custom-icon fs-7 mb-3'>01/</span>
                        </div>
                        <div class="col-xl-4">
                            <div class="bebas-font lh-1 fs-2">
                                BOOST
                                <br class='d-none d-xl-block'>
                                YOUR OPEN RATE
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="text-black-50">
                                More than half the world's population (over 4.2 billion people) were active
                                email users
                                globally in 2022. By the end of 2026, that figure is projected to go over 4.7
                                billion.
                            </div>
                        </div>
                    </div>
                </div>
                <div class='mt-5 pb-5 border-bottom border-dark-subtle'>
                    <div class="row">
                        <div class="col-xl-2">
                            <span class='custom-icon fs-7 mb-3'>02/</span>
                        </div>
                        <div class="col-xl-4">
                            <div class="bebas-font lh-1 fs-2">
                                BOOST
                                <br class='d-none d-xl-block'>
                                YOUR CLICK RATE
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="text-black-50">
                                Our Livesend algorithm analyses more than 100 individual consumer attributes used for
                                content customization.
                            </div>
                        </div>
                    </div>
                </div>
                <div class='mt-5 pb-5 border-bottom border-dark-subtle'>
                    <div class="row">
                        <div class="col-xl-2">
                            <span class='custom-icon fs-7 mb-3'>03/</span>
                        </div>
                        <div class="col-xl-4">
                            <div class="bebas-font lh-1 fs-2">
                                BOOST YOUR
                                <br class='d-none d-xl-block'>
                                CONVERSION RATE
                            </div>
                        </div>
                        <div class="col-xl-6">
                            <div class="text-black-50">
                                Our programmatic email marketing technology allows us to determine the ideal target
                                group for each campaign.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>