<div class='the-power mt-100 text-white'>
    <div class='title-primary'>
        <div class='mb-3'>
            <div class='container-fluid px-xl-5'>
                <div class='row'>
                    <div class='col-12 col-xl-6'>
                        <div class='bebas-font fs-50 lh-1'>
                            The power of LiveSend
                        </div>
                        <div class='mt-2'>
                            Bored of the limited opportunities to acquire new customers and generate leads? LiveSend
                            will give you a new perspective on Email Marketing.
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class='border-top border-secondary-subtle bebas-font fs-5 pt-2'>
            <div class='container-fluid px-xl-5'>
                <div class='row'>
                    <div class='col-1'>
                        02
                    </div>
                    <div class='col-11'>
                        TAKE THE USER EXPERIENCE TO A WHOLE NEW LEVEL
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class='container-fluid px-xl-5'>
        <div class='row'>
            <div class='col-xl-3'>
                <div class="tab-title nav flex-column me-3 mt-5">
                    <button class="text-start m-0 py-1 px-0 mb-4 text-white nav-link active" data-bs-toggle="pill"
                            data-bs-target="#tab1"
                            type="button">User behavior and characteristics
                    </button>
                    <button class="text-start m-0 py-1 px-0 mb-4 text-white nav-link" data-bs-toggle="pill"
                            data-bs-target="#tab2"
                            type="button">Content customization
                    </button>
                    <button class="text-start m-0 py-1 px-0 mb-4 text-white nav-link" data-bs-toggle="pill"
                            data-bs-target="#tab3"
                            type="button">E-mail delivery at the right time
                    </button>
                    <button class="text-start m-0 py-1 px-0 mb-4 text-white nav-link" data-bs-toggle="pill"
                            data-bs-target="#tab4"
                            type="button">User becomes a new customer
                    </button>
                    <div>
                        <a href="" class="d-inline-block bg-yellow text-black text-decoration-none rounded py-3 px-4">
                            LEARN MORE
                        </a>
                    </div>
                </div>
            </div>
            <div class='col-xl-8'>
                <div class="tab-content mt-5 border-start border-secondary-subtle p-3">
                    <div class="tab-pane fade show active" id="tab1" role="tabpanel"
                         tabindex="0">
                        <div class='row align-items-center'>
                            <div class='col-xl-6'>
                                <div class='text-center mb-5 mb-xl-0'>
                                    <img src="images/image12.png" alt="">
                                </div>
                            </div>
                            <div class='col-xl-6'>
                                <p class="bebas-font lh-1 fs-2">
                                    User behavior and characteristics analysis
                                </p>
                                <p>
                                    Thanks to our programmatic email marketing technology, more than 100 user
                                    characteristics (geo-targeting, sociodemographic, interests...) can be analyzed in
                                    order to determine your ideal target group.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab2" role="tabpanel"
                         tabindex="0">
                        <div class='row align-items-center'>
                            <div class='col-xl-6'>
                                <div class='text-center mb-5 mb-xl-0'>
                                    <img src="images/image13.png" alt="">
                                </div>
                            </div>
                            <div class='col-xl-6'>
                                <p class="bebas-font lh-1 fs-2">
                                    Content customization
                                </p>
                                <p>
                                    LiveSend takes the user experience to a new level with advanced content
                                    customization based on user behaviour. If a potential customer is for example
                                    interested in a trip to Vietnam, a corresponding offer is sent to their email inbox.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab3" role="tabpanel"
                         tabindex="0">
                        <div class='row align-items-center'>
                            <div class='col-xl-6'>
                                <div class='text-center mb-5 mb-xl-0'>
                                    <img src="images/image14.png" alt="">
                                </div>
                            </div>
                            <div class='col-xl-6'>
                                <p class="bebas-font lh-1 fs-2">
                                    Email delivery at the right time
                                </p>
                                <p>
                                    The LiveSend algorithm is able to identify the perfect send-out time for each single
                                    user. Your Email will hit the inbox exactly when the user is online and most likely
                                    to open and interact with your content.
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab4" role="tabpanel"
                         tabindex="0">
                        <div class='row align-items-center'>
                            <div class='col-xl-6'>
                                <div class='text-center mb-5 mb-xl-0'>
                                    <img src="images/image15.png" alt="">
                                </div>
                            </div>
                            <div class='col-xl-6'>
                                <p class="bebas-font lh-1 fs-2">
                                    User becomes a new customer
                                </p>
                                <p>
                                    Sending relevant messages to the right audience at the perfect time significantly
                                    boosts your conversion rate thanks to knowing their current interests. That's how
                                    you win happy customers!
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>